    <div class="container">
        <div class="row">
            <div class="col title-fill ">
                <p>กรอกเลข HN ของท่าน</p>
                <div class="input-group">
                    <input type="text" class="form-control text-center" placeholder="" maxlength="7" aria-label="add-hn" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-scan text-center" type="button" id="button-addon2" style="border: none">
                        <img src="../assests/scan.svg" alt="scan" class="p-1" />
                        <p class="mb-0">SCAN</p>
                    </button>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class=" col text-center">
                <table class="d-flex justify-content-center dial-num">
                    <tbody>
                        <tr>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">
                                    1
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">2</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">3</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">4</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">5</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">6</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">7</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">8</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">9</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">#</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;">0</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div style="padding-top: 7px;"><img src="../assests/delete.svg" class="nav-img ">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center mt-5">
                    <a href="newcase.html"
                        class="btn btn-primary btn-submit d-flex align-items-center justify-content-center">
                        ยืนยัน
                    </a>

                </div>
                <br>
                <a href="index.html" class="justify-content-center">
                    <p>ยกเลิก</p>
                </a>
                <br>
                <br>
                <!-- <div class=" text-left">
          <a href="log.html" class="btn btn-primary btn-report">รายงานการใช้งาน</a>
        </div>-->
            </div> 

            </div>
        </div>