<%
	
	
    room = Room.find params[:id]
	zone = Zone.find room.zone_id
	
	beds = room.beds 
	
	admits = []
	
	for bed in beds 
	
		admit =  Admit.where(:bed_id=> bed.id, :zone_id=>session[:current_zone], :status=>'Admitted').first
	 	
		admits << admit
	end
	
	
	
	
%>

<style>


</style>

<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_dark.css')%>" rel="stylesheet">
<link href="<%=url_for('css/er.css?=22')%>" rel="stylesheet">
   
   
   <div id="panel">
	   Loading...
   </div>
	
	<script>
		

		
		
		function executeQuery() {
		  $.ajax({
		    url: '_dashboard_partial?id=<%=params[:id]%>',
		    success: function(data) {
		      // do something with the return value here if you like
				$('#panel').html(data)
		    }
		  });
		  updateCall();
		}

		function updateCall(){
		setTimeout(function(){executeQuery()}, 1000);
		}

		$(document).ready(function() {
		  executeQuery();
		  
		
		
		});
		
	</script>
