 
<%

record = EMSCase.find params[:id]
ems_case = record
admit = record.admit
patient = admit.patient

age = ''
sex = ''
traumaStatus = ''

location = ''

if ems_case.patient_age == ''
      age = 'ไม่ระบุ'
else
	age = ems_case.patient_age
end	

if ems_case.patient_gender == ''
	sex = 'ไม่ระบุ'
elsif ems_case.patient_gender == 'M'
	sex = 'ชาย'
elsif ems_case.patient_gender == 'F'
	sex = 'หญิง'
end


if request.post?

	record.update_attributes :summary=>params[:record][:summary]

end

if ems_case.location == ''
	location = 'ไม่ระบุ'
else
	location = ems_case.location
end

%>
<% unless params[:mode] %>
<form action="summary_text?id=<%=record.id%>" id="summary" method="post">
<% end %>

<div class="">

<br/>

<style>
	.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	   background-color: #a3efef;
	}

	@media print {
		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
		   background-color: #a3efef !important;
        -webkit-print-color-adjust: exact;
		}
		.navbar{
			display:none;
			 -webkit-print-color-adjust: exact;
		}
	}
</style>



    <%


    notes = admit.nurse_records

    medications = admit.medication_records

    records = admit.records
		last_bp = "-"
		new_list =[]
		for m in records

			if last_bp!=m.bp
				new_list << m
				last_bp = m.bp
			end
		end


    tmap = {}
    mmap = {}

    for i in notes

    	k = i.start_time.localtime
    	tmap[k] = [] unless tmap[k]
    	#tmap[k] << ['Note',i.description]


    end

    for i in medications
    	if i.start_time
    		k = i.start_time.localtime
    		tmap[k] = [] unless tmap[k]
        mmap[k] = [] unless mmap[k]

    	
		#	tmap[k] << ['Med',"#{i.name if i} "]
        mmap[k] << ['Med',"#{i.name if i} "]

      end
    	if i.stop_time
    		k = i.stop_time.localtime
    		tmap[k] = [] unless tmap[k]
        mmap[k] = [] unless mmap[k]

    	#tmap[k] << ['Med',"#{i.name if i} OFF Con(#{i.concentration}) Rate(#{i.rate} ml/min) Vol Est(#{i.est_intake} ml)"]
        mmap[k] << ['Med',"#{i.name if i} OFF Con(#{i.concentration}) Rate(#{i.rate} ml/min) Vol Est(#{i.est_intake} ml)"]


    	end
    end


notes = EMSProgressNote.where(:case_id=>record.id).sort(:time=>1).all
for i in notes

	k = i.time.localtime  if i.time
	tmap[k] = [] unless tmap[k]
	tmap[k] << ['Note', i.text, i.type]

end

	template_text = %(รับแจ้งจากศูนย์เอรวัณ เวลา #{ems_case.request_at.strftime('%H:%M')} น. ขอรับผู้ป่วยเพศ #{sex} #{age} ปี สถานที่เกิดเหตุ #{location}
แรกรับ at scene #{ems_case.chief_complain}    

@primary_survey
@secondary_survey.1
@secondary_survey.2
Event : #{ems_case.emd_event_note} /  
@secondary_survey.3

Treatment :
@progress_note


@transfer

Diagnosis : 
@diagnosis


ฉพ. Name........................Dispatcher note // Approved by ฉพ. Name........................Provider  Note
)

if record.case_type == 'Refer'

	template_text = %(ข้อมูลการ Refer
 
Progress note :
@progress_note

Diagnosis : 
@diagnosis



)


end




	map = {}


  ####################### progress # NOTE:

	bin = {}
	# for t in tmap.keys.sort
	# 	lines = tmap[t]
	# 	for i in lines
	# 		bt = t.to_i/60
	# 		bin[bt] = {:t=>t,:list=>[]} unless bin[bt]
	# 		bin[bt][:list] << i
	# 	end
	# end

	cur = nil

    for t in tmap.keys.sort
		
		lines = tmap[t]
		
		for i in lines
			
				
			cur = t unless cur
			
			
			if (t - cur) < 60000
			
				cur = t
				
				bt = t.to_i/60
				
				bin[bt] = {:t=>t,:list=>[]} unless bin[bt]
				bin[bt][:list] << i
				
			end	
			
		
		
		end	
			
		
		
	end

    
	
	

	list = []

for it in bin.keys.sort
 t = bin[it][:t]
 line = []
 for i in bin[it][:list]
	type =i[0]
	des = i[1].strip
	line << ": #{des}"
	#####line << "\n\t\t\t    " if i[2] and i[2]=='emr'
 end
 	if line[0] == ': [Primary Survey]' || line[0] == ': [Secondary Survey]' 
	line.shift();
		if line.length >= 1
			list << "[#{t.strftime("%H:%M") } น.] #{line.join(" ")}"
		end
	else	
	list << "[#{t.strftime("%H:%M") } น.] #{line.join(" ")}"
	end
end

	map["progress_note"] = list.join("\n")

	####################### transfer # NOTE:

if ems_case.transfer_hospital == nil
		map["transfer"] = "รพ.ปลายทาง : "
else
		map["transfer"] = "รพ.ปลายทาง : #{ems_case.transfer_hospital} HN:#{ems_case.transfer_hn}"
end


  ###################### diagnosis # NOTE:


	records = EMSCasePatientStatus.where(:case_id=>record.id).all

	#map["diagnosis"] = records.collect{|i| " - เวลา #{i.created_at.strftime("%H:%M") } น. : #{i.title}" }.join("\n")

	map["diagnosis"] = record.diagnosis
	#######################


	lines = template_text.split("\n")

  lines.collect! do |i|

		res = i

		if i[0]=='@'
			res = ''
			 key = i[1..-1]
			if map[key]
			 	res = map[key]
			
		 	else

		 		ns = key.split(".")
				n = ns[0]
				query = "1"
				query= ns[1] if ns.size>1
        		document = EMRDocument.where(:name=>n).first
				if document and emr_record = EMRRecord.where(:document_id=>document.id, :case_id=>ems_case.id).first

				if File.file?(File.dirname(__FILE__) +'/../ems_emr/documents/_'+document.name+"_text.erb")

					res = inline(this,'/../ems_emr/documents/_'+document.name+"_text", :this=>this, :record=>emr_record, :ems_case=> ems_case, :mode=>'text', :query=> query).strip+"\n"

				end

			end

		end


		end

		res

	end


	summary = lines.join("\n")

  summary = record.summary if record.summary and record.summary!=""
	
  %>


<div id="printout" style="border:0px solid gray;  ">
<h4>Summary</h4>

<textarea name="record[summary]" rows="30" cols="80"  style="width:100%;font-size:1.2em;padding:10px"><%=summary%>
</textarea>


</div>

<br/>

<% unless params[:mode] %>

<input type="submit" name="submit" value="Update" class="btn btn-summary">


	<!-- <div style="" class="print-btn"> -->
    <!-- <input type="button" value="Print" onclick="javascript:codespeedy()" class="btn btn-info"> -->

<!-- </div> -->

</form>


<script type="text/javascript">

    function codespeedy(){

var print_div = document.getElementById("printout");
var print_area = window.open();
print_area.document.write(print_div.innerHTML);
print_area.document.close();
print_area.focus();
print_area.print();
// print_area.close();
// This is the code print a particular div element
    }



		  $("#summary").submit(function(e){


		    var form = $(this);
		    var actionUrl = form.attr('action');

		    $.ajax({
		        type: "POST",
		        url: actionUrl,
		        data: form.serialize(), // serializes the form's elements.
		        success: function(data)
		        {
		          alert('Save')
		        }
		    });

		    e.preventDefault();

		  });



  </script>


	<% end %>
