
<%

record = EMSCase.find params[:id]
ems_case = record
admit = record.admit
patient = admit.patient

if request.post?

	record.update_attributes :summary=>params[:record][:summary]

end

%>
<% unless params[:mode] %>
<form action="summary_text?id=<%=record.id%>" id="summary" method="post">
<% end %>

<div class="">

<br/>

<style>
	.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	   background-color: #a3efef;
	}

	@media print {
		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
		   background-color: #a3efef !important;
        -webkit-print-color-adjust: exact;
		}
		.navbar{
			display:none;
			 -webkit-print-color-adjust: exact;
		}
	}
</style>



    <%


    notes = admit.nurse_records

    medications = admit.medication_records

    records = admit.records
		last_bp = "-"
		new_list =[]
		for m in records

			if last_bp!=m.bp
				new_list << m
				last_bp = m.bp
			end
		end


    tmap = {}
    mmap = {}

    for i in notes

    	k = i.start_time.localtime
    	tmap[k] = [] unless tmap[k]
    	tmap[k] << ['Note',i.description]


    end

    for i in medications
    	if i.start_time
    		k = i.start_time.localtime
    		tmap[k] = [] unless tmap[k]
        mmap[k] = [] unless mmap[k]

    		tmap[k] << ['Med',"#{i.name if i} "]
        mmap[k] << ['Med',"#{i.name if i} "]

      end
    	if i.stop_time
    		k = i.stop_time.localtime
    		tmap[k] = [] unless tmap[k]
        mmap[k] = [] unless mmap[k]

    		tmap[k] << ['Med',"#{i.name if i} OFF Con(#{i.concentration}) Rate(#{i.rate} ml/min) Vol Est(#{i.est_intake} ml)"]
        mmap[k] << ['Med',"#{i.name if i} OFF Con(#{i.concentration}) Rate(#{i.rate} ml/min) Vol Est(#{i.est_intake} ml)"]


    	end
    end





	template_text = %(รับแจ้งจากศูนย์เอรวัณ

แรกรับ at scene

@primary_survey
@secondary_survey.1
Progress note :
@progress_note

@secondary_survey.2
Treatment :
@transfer
Diagnosis :
@diagnosis

)

	map = {}


  ####################### progress # NOTE:

	bin = {}
	for t in tmap.keys.sort
	lines = tmap[t]
	for i in lines
	bt = t.to_i/60
	bin[bt] = {:t=>t,:list=>[]} unless bin[bt]
	bin[bt][:list] << i
	end
	end

	list = []

	for it in bin.keys.sort
	t = bin[it][:t]
	line = []
	for i in bin[it][:list]
	  type =i[0]
	  des = i[1].strip
		line << "-- #{des} "
	end

	list << " - เวลา #{t.strftime("%H:%M") } น. #{line.join(" ")}"

	end

	map["progress_note"] = list.join("\n")

	####################### transfer # NOTE:



	map["transfer"] = "รพ.ปลายทาง : #{ems_case.transfer_hospital}"

  ###################### diagnosis # NOTE:


	records = EMSCasePatientStatus.where(:case_id=>record.id).all

	map["diagnosis"] = records.collect{|i| " - เวลา #{i.created_at.strftime("%H:%M") } น. : #{i.title}" }.join("\n")


	#######################


	lines = template_text.split("\n")

  lines.collect! do |i|

		res = i

		if i[0]=='@'
			res = ''
			 key = i[1..-1]
			if map[key]
			 		res = map[key]
		 	else

		 		ns = key.split(".")
				n = ns[0]
				query = "1"
				query= ns[1] if ns.size>1
        document = EMRDocument.where(:name=>n).first
				if document and emr_record = EMRRecord.where(:document_id=>document.id, :case_id=>ems_case.id).first

				if File.file?(File.dirname(__FILE__) +'/../ems_emr/documents/_'+document.name+"_text.erb")

					res = inline(this,'/../ems_emr/documents/_'+document.name+"_text", :this=>this, :record=>emr_record, :ems_case=> ems_case, :mode=>'text', :query=> query).strip+"\n"

				end

			end

		end


		end

		res

	end


	summary = lines.join("\n")

  summary = record.summary if record.summary and record.summary!=""
	
  %>


<div id="printout" style="border:0px solid gray;  ">
<h4>Summary</h4>

<textarea name="record[summary]" rows="30" cols="80"  style="width:100%;font-size:1.2em;padding:10px"><%=summary%>
</textarea>


</div>

<br/>

<% unless params[:mode] %>

<input type="submit" name="submit" value="Update" class="btn btn-summary">


	<!-- <div style="" class="print-btn"> -->
    <!-- <input type="button" value="Print" onclick="javascript:codespeedy()" class="btn btn-info"> -->

<!-- </div> -->

</form>


<script type="text/javascript">

    function codespeedy(){

var print_div = document.getElementById("printout");
var print_area = window.open();
print_area.document.write(print_div.innerHTML);
print_area.document.close();
print_area.focus();
print_area.print();
// print_area.close();
// This is the code print a particular div element
    }



		  $("#summary").submit(function(e){


		    var form = $(this);
		    var actionUrl = form.attr('action');

		    $.ajax({
		        type: "POST",
		        url: actionUrl,
		        data: form.serialize(), // serializes the form's elements.
		        success: function(data)
		        {
		          alert('Save')
		        }
		    });

		    e.preventDefault();

		  });



  </script>


	<% end %>
