<%= inline(this,:'../lib/_map')  %>
<% 

		session.delete :case_id

%>	
	
<script src="/rocker/assets/js/jquery.min.js"></script>
<!--<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Components</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Navs &amp; Tabs</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>-->

<!-- <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2">
	<div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-danger">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 ">EMS-64122202</h4>
					<p class="mb-0 text-secondary">Patient info</p>
					<p class="mb-0 font-13">+2.5% from last week</p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class='bx bxs-group'></i>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-info">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<p class="mb-0 text-secondary">Contact info</p>
					<h4 class="my-1 text-info">081-094-1235</h4>
					<p class="mb-0 font-13">นายหวังดี แซ่ซ้อง</p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class='bx bxs-phone'></i>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>				 -->

<!-- <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2">
	<div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-danger">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 ">EMS-64_____</h4>
					<p class="mb-0 text-secondary">Patient info : </p>
					<p class="mb-0 font-13">New Request</p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class='bx bxs-group'></i>
				</div>
			</div>
		</div>
		</div>
	</div>

</div>	 -->
<div class="card">
<div class="card-body">
	<ul class="nav nav-tabs nav-primary" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" data-bs-toggle="tab" href="#requestcontent" role="tab" aria-selected="true">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-home font-18 me-1"></i>
					</div>
					<div class="tab-title">New Request</div>
				</div>
			</a>
		</li>
		<!-- <li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#prearrivalcontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-user-pin font-18 me-1"></i>
					</div>
					<div class="tab-title">Pre arrival</div>
				</div>
			</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#commandcontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-microphone font-18 me-1"></i>
					</div>
					<div class="tab-title">Command</div>
				</div>
			</a>
		</li>

		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#operationcontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-microphone font-18 me-1"></i>
					</div>
					<div class="tab-title">Operation</div>
				</div>
			</a>
		</li>

		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#paramediccontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-microphone font-18 me-1"></i>
					</div>
					<div class="tab-title">Paramedic</div>
				</div>
			</a>
		</li>

		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#dischargecontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-microphone font-18 me-1"></i>
					</div>
					<div class="tab-title">Discharge</div>
				</div>
			</a>
		</li> -->
		
		
	</ul>
	<div class="tab-content py-3">
		
		<div class="tab-pane fade active show" id="requestcontent" role="tabpanel">
			<p>
				
				<%# inline(this,:'../ems_request/_show')  %>

				<div class="request"></div>
				<script>
					
					$.ajax({
					  url: "../EmsRequest/create",
					  context: document.body
					}).done(function(html) {
					
					  $( '.request' ).html(html);
					});
					
					
				</script>
				
			</p>
		</div>
		
		<div class="tab-pane fade" id="prearrivalcontent" role="tabpanel">
		
		
		<p>
			
		
		</p>
		
		
		</div>
		
		
		<div class="tab-pane fade" id="commandcontent" role="tabpanel">
		
		
		<p>
			
			
		</p>
		
		
		</div>
		
		<div class="tab-pane fade" id="operationcontent" role="tabpanel">
		
		
		<p>
			
			
		</p>
		
		
		</div>
		
		<div class="tab-pane fade" id="paramediccontent" role="tabpanel">
		
		
		<p>
			
			
		</p>
		
		
		</div>
		
		<div class="tab-pane fade" id="dischargecontent" role="tabpanel">
		
		
		<p>
			
			
		</p>
		
		
		</div>
		
	
		
		
		
		
	</div>
</div>
</div>

<%=init_map%>