<h1>Schedule</h1>

<div class="row">
	<div class="col-7">
	<div id='calendar'></div>
	</div>
	
	<div class="col-5" id="schedule-partial">
		<div class="card">
			<div class="card-body" >
				
			
			</div>
		</div>
	</div>
	
</div>


	<link href="/rocker/assets/plugins/fullcalendar/css/main.min.css" rel="stylesheet" />
	<script src="/rocker/assets/plugins/fullcalendar/js/main.min.js"></script>
	
	
	<script>
	
		   <%
			
			
		 	cases = EMSCase.all()
		
			events = cases.collect{|i|
				
				if  true
					
					title = "#{i.case_type}-#{i.init_code.code if i.init_code} #{i.location}"
					
					
					code_color = i.init_code.color if i.init_code
					case code_color 
					when 'red'
						cls = 'danger'
					when 'yellow'
						cls = 'warning'
					when 'green'
						cls = 'success'
					else
						cls = 'info'
					end
					
					
					start_at = "#{i.schedule_from}"
					start_at = "#{i.date.strftime("%Y-%m-%d")}#{i.request_at.strftime("T%H:%M:%S") }" if i.request_at and i.date
					
					end_at = "#{i.schedule_to}"  
					end_at = "#{i.discharge_stamp.to_json}" if i.discharge_stamp
					
					
					
				
				{   
					:id=>i.id,
					:title=>title,
					:start=>start_at,
					:end=>end_at,
					:url=>"show?id=#{i.id}",
				
				}
				
			else
				nil
			end
				
		}.compact
			
	
			%>
			
			document.addEventListener('DOMContentLoaded', function () {
				var calendarEl = document.getElementById('calendar');
				var calendar = new FullCalendar.Calendar(calendarEl, {
					headerToolbar: {
						left: 'prev,next today',
						center: 'title',
						right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
					},
					dateClick:function(info){
						// alert('click' + info.dateStr)
						// search_schedule(info.dateStr)
					},
					eventDrop:function(info){
						alert('drop '+info.event.id +" "+info.event.start.toISOString())
						
						console.log(eventDropInfo.newResource)
					},
					select:function(info){
						// alert(""+info.startStr+" "+info.endStr)
						
						search_schedule(info.startStr, info.endStr)
						
						
					},
					initialView: 'dayGridMonth',
				
					navLinks: true, // can click day/week names to navigate views
					selectable: true,
					nowIndicator: true,
					dayMaxEvents: true, // allow "more" link when too many events
					editable: true,
					selectable: true,
					businessHours: true,
					dayMaxEvents: true, // allow "more" link when too many events
					events: <%=events.to_json%>
				});
				calendar.render();
			})
			
			
			function search_schedule(startStr,endStr){
				$.ajax({
				  url: "schedule_partial?start="+startStr+"&end="+endStr,
				  context: document.body
				}).done(function(data) {
				  $( '#schedule-partial' ).html( data );
				});
			}
		
		</script>