<link href="<%=url_for 'css/opd.css'%>" rel="stylesheet">
<h1>Entry</h1>
<hr/>
<div class="row-fluid">
    <div class="col-12">
    <div class="p-name">
    HN 587468: นายธนา พิพิธยการ
    </div>
    <div class="p-date">
    วันที่ 10 เมษายน 2563 เวลา 10.38 น.
    </div>
    </div>

    <div class="col-12">
    <div class="row">
        <div class="col-4">
            <div class="d-entry">
            <div class="l-entry">Height</div>
            <div class="v-entry v-under">165 cm</div>
            </div>
            <div class="d-entry">
            <div class="l-entry">Weight</div>
            <div class="v-entry v-under">60 kg</div>
            </div>
            <div class="d-entry">
            <div class="l-entry">BMI</div>
            <div class="v-entry v-under">22.04</div>
            </div>
            <div class="d-entry">   
            <div class="l-entry">Scoring Type</div>
            <div class="v-entry v-under">NEWS</div>
            </div>
        </div>
        <div class="col-4">
            <div class=""><center>Body</center></div>
        </div>
        <div class="col-4">
            <div class="d-entry-dark">
            <div class="l-entry">Blood Pressure</div>
            <div class="v-entry">120/80</div>
            </div>
            <div class="d-entry-dark">
            <div class="l-entry">Pulse</div>
            <div class="v-entry">82</div>
            </div>
            <div class="d-entry-dark">
            <div class="l-entry">Body Temperature</div>
            <div class="v-entry">37.0</div>
            </div>
            <div class="d-entry-dark">
            <div class="l-entry">Scoring</div>
            <div class="v-entry">5</div>
            </div>
        </div> 
    </div> 
    </div>

    <div class="col-12">
    <center>
    <a href="result" class="btn btn-primary btn-opd">ส่ง</a><br/>
    <a href="index" class="">ยกเลิก</a>
    </center>
    </div>
</div>