<link href="<%=url_for 'css/opd.css'%>" rel="stylesheet">
<h1 style="color:white">OPD</h1>

<div class="row">
<div class="col-6">
<img class="rounded" src="<%=url_for 'img/OPD_ad.png'%>">
</div>
<div class="col">
    <div class="row">
    <div class="col-12">
    <div class="head-hn">
    กรอกเลข HN ของท่าน
    </div>
    </div>
    <div class="col-12">
    <div class="display-hn">
    587468
    </div>
    
    </div>
    <div class="col-12">
    <center>
    <table width="400px">
    <tr>
        <td><div class="btn-hn">1</div></td>
        <td><div class="btn-hn">2</div></td>
        <td><div class="btn-hn">3</div></td>
    </tr>
    <tr>
        <td><div class="btn-hn">4</div></td>
        <td><div class="btn-hn">5</div></td>
        <td><div class="btn-hn">6</div></td>
    </tr>
    <tr>
        <td><div class="btn-hn">7</div></td>
        <td><div class="btn-hn">8</div></td>
        <td><div class="btn-hn">9</div></td>
    </tr>
    <tr>
        <td><div class="btn-hn">/</div></td>
        <td><div class="btn-hn">0</div></td>
        <td><div class="btn-hn">Del</div></td>
    </tr>
    </table>
    </center>
    </div>

    <div class="col-12">
    <center><a href="entry" class="btn btn-primary btn-opd">ยืนยัน</a></center>
    </div>
    </div>
</div>
</div>
<script>
    function hnPush(s){
        v = $(".display-hn").html().trim()
        b = s.html()
        if(b.indexOf("Del")!==-1){
            v = v.substr(0,v.length-1)
        }else{
            v+=b
        }
        $(".display-hn").html(v)
        
    }

    $(".btn-hn").on("click touchstart mouseover",function(){
        try{
            hnPush($(this))
        }catch(e){}
        return false;
    })
    //$(".display-hn").html('a')
</script>
<script>



$(document).ready(function(){
    $(".btn-hnaaaa").on("click touchstart mouseover",function(){
        $(".display-hn").html('a')
        try{
            hnPush($(this))

            let src = '<%=url_for 'sounds/water_droplet.mp3'%>';
            let audio = new Audio(src);
            audio.play();
        }catch(e){}
        return false;

    })
})

</script>