
<link href="<%=url_for 'css/opd.css'%>" rel="stylesheet">
<svg width="0" height="0">
    <defs>
        <g id="t-up">
        <polygon points="10,0 0,20 20,20" class="triangle" />
        </g>
        <g id="t-down">
        <polygon points="0,0 20,0 10,20" class="triangle" />
        </g>        
    </defs>
    <style>
    .triangle{fill:green;}
    .symbol{height:20px;width:20px;}
    </style>
</svg>
<h1>Result</h1>

<div class="row">
    <div class="col-6">
    <div class="jumbotron">
    Blood Pressure
    </div>
    </div>
    <div class="col">
    <div class="jumbotron">
    Body temperature
    </div>
    </div>
</div>
<div class="row-fluid">
    History Records
    <div class="jumbotron">
    <table class="table">
    <thead>
        <tr class="table-primary">
            <th>Date</th>
            <th>Weight</th>
            <th>BP</th>
            <th>Scoring type</th>
            <th>Scoring</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>19/05/2020</td>
            <td>68.7 
            <svg class="symbol">
                <use xlink:href="#t-down" />
            </svg>
            </td>
            <td>110/90</td>
            <td>NEWS</td>  
            <td><span class="badge badge-pill badge-success badge-score">1</span></td>   
        </tr>
        <tr>
            <td>19/04/2020</td>
            <td>66.9 </td>
            <td>120/80</td>
            <td>NEWS</td>  
            <td><span class="badge badge-pill badge-warning badge-score">4</span></td>   
        </tr>
    </tbody>
    </table>
    </div>
    <div class="col-12">
    <center>
    <a href="index" class="btn btn-primary btn-opd">เสร็จสิ้น</a><br/>
    <a href="log" class="">view log</a> 
    </center>
    </div>
</div>


