<link href="<%=url_for 'css/opd.css'%>" rel="stylesheet">
<h1>Select Score</h1>
<hr/>
<div class="row-fluid">
    <div class="col-12">
    <div class="p-name">
    HN 587468: นายธนา พิพิธยการ
    </div>
    <div class="p-date">
    วันที่ 10 เมษายน 2563 เวลา 10.38 น.
    </div>
    </div>
    <div class="col-12">
    <div class="head-select">
    Scoring Type
    </div>
    <a href="entry">
    <div class="btn-suggest">
    National Early Warning Score (NEWS)
    </div>
    </a>
    <a href="entry">
    <div class="btn-select">
    Pediatric Early Warning Score (PEWS)
    </div>  
    </a> 
    </div>

</div>