
	
<% if request.post? 


	
if params[:record]

	p = params[:record]
	
	record = EMSCaseWorkflow.create p
			
end
	


%>
<!--<META HTTP-EQUIV="Refresh" CONTENT="0;URL=show?id=<%=record.id%>">-->
<% if record%>
บันทึกสำเร็จ
<div id="rec" class="visually-hidden">
<div class="card radius-10 border shadow-none">
      <div class="card-body">
        <div class="row d-flex align-items-center">
          <div class="col-10">
            <p class="mb-0 "><%=record.name%></p>
          </div>
          <div class="col align-self-end">
            <!--<a href="./flow_show?id=<%=record.id%>" class="btn btn-light">edit</a>-->
          </div>
        </div>
      </div>
    </div>
</div>
<script>

$("#kworkflow_list").append($(rec).html())
$("#record_name").val('')
</script>
<% end #if record%>

<% end #if request%>

<script>
	//refresh_remote()
</script>