
<table class="table">
	<thead>
		<tr>
			<% for c in ps[:model] 
			
				col_header = c.humanize
				col_header = ps[:label][c] if ps[:label] and ps[:label][c]
				
			%>
				<th>
					<%=col_header %>
				</th>
			<% end%>
			<% 
			if ps[:ext_model]
			for c in ps[:ext_model] 
			
				col_header = c.humanize
				col_header = ps[:label][c] if ps[:label] and ps[:label][c]
				
			%>
				<th>
					<%=col_header %>
				</th>
			<% end%><% end%>
		</tr>
	</thead>
	<tbody>
		<% ps[:data].each_with_index do |i,ix|
		
			
		out = ps[:out][ix]
	
			
		%>
		<tr class="<%=ps[:tr_class]%>">
			<% 
			
			out.each do |value|
				
			%>
				<td>
					<%= value %>
				</td>
			<% end%>
		</tr>
		<% end %>
	</tbody>
</table>