
<% if request.post?



if params[:record]

	p = params[:record]

	patient_id = nil
	
	patient = Patient.find p[:patient_id] if p[:patient_id]

	if p[:patient_hn] and p[:patient_hn].size>0
		patient = Patient.where(:hn=>p[:patient_hn]).first unless patient
	end


	if patient

		p[:patient_name] = "#{patient.prefix_name}#{patient.first_name} #{patient.last_name}"
		p[:patient_gender] = "#{patient.gender}"
		p[:patient_age] = "#{patient.age}"

		p[:patient_cid] = "#{patient.public_id}"
		p[:patient_phone] = "#{patient.contact_phone}"
		p[:patient_underlying] = p[:patient_underlying]+" #{patient.underlying}"


	end

    # key :patient_name, String
    # key :patient_info, String
    # key :patient_gender, String
    # key :patient_age, String
    #  key :patient_cid, String
  # key :patient_hn, String
  # key :patient_phone, String
  #
  # key :patient_underlying, String
	unless patient

		patient = Patient.create :name=>p[:patient_name], :hn=>p[:patient_hn], :public_id=>p[:patient_cid], :contact_name=>p[:contact_name], :contact_phone=>p[:patient_phone],:zone_id=>session[:current_zone]

	end

	patient_id = patient.id if patient


	admit = Admit.create :zone_id=>session[:current_zone], :patient_id=> patient_id, :status=>'Admitted', :admit_stamp=>Time.now, :record_status=>'Stop'

	p[:admit_id] = admit.id
	p[:zone_id] = session[:current_zone]
	p[:patient_id] = patient_id
	p[:status] = "New"

	counter_key = Time.now.strftime("%y%m")

	counter = EMSCaseCounter.where(:key=>counter_key).first
	counter = EMSCaseCounter.create(:key=>counter_key, :count=>0) unless counter

	case_no = "EMS-#{counter_key}-#{format('%04d',counter.count+1)}"

	p[:case_no] = case_no

    p[:user_id] = @current_user.id if @current_user

	p[:request_at] = Time.now 
	
	init_cbd_code = EMSCode.find p[:init_cbd_code]
	if init_cbd_code
		p[:init_cbd_color] = init_cbd_code.color
	end
	

	record = EMSCase.create p

	counter.update(:count=>counter.count+1)

  if line_noti = Setting.get('line_access_code')

	  message = record.noti_message
		result =  EMSConnect.line_noti :message=>message

	end

path = "miot/#{@context.settings.name}/z/#{admit.zone.name}"
msg = 'NULL'
send_msg = <<MSG
#{'Zone.Refresh'} #{path}
#{msg.to_json}
MSG
@context.settings.redis.publish(path, send_msg)


path = "miot/#{@context.settings.name}/z/#{admit.zone.name}/IOT"
msg = <<MSG
#{'EMS.Update'} #{path}
#{{'alert'=>'0'}.to_json}
MSG

@context.settings.redis.publish(path, msg)	



end



%>
<META HTTP-EQUIV="Refresh" CONTENT="0;URL=show?id=<%=record.id%>&page=command">


<% else %>

<%
	
	default_latlng = Setting.get("aoc_center")

	@ems_case = EMSCase.new  :chief_complain=>'',:contact_name=>'ไม่ระบุ',:contact_phone=>'',:patient_name=>'ไม่ระบุ', :latlng=>default_latlng, :patient_nationality=>'ไทย', :date=>Time.now, :request_at=>Time.now
	
	
	@ems_case.location = params[:location] if params[:location]
	@ems_case.latlng = params[:latlng] if params[:latlng]
	
	now = Time.now
	
	
	

%>




<form action="<%= get_path 'create'%>" method="post" data-remote='true' data-remote-update="reqeust-panel">
<% fieldset(:record) do |f| %>

<%= inline(this,:'_form', :this=>this, :f=>f, :record=>@ems_case)  %>

<% end %>
<input type="submit" name="create" value="Create" class="btn btn-success">

</form>

<div id="reqeust-panel">

</div>
<% end %>
<script>
	$('#record_contact_phone').focus()
	refresh_remote()
</script>
