<h1>Request</h1>



<form action="<%= get_path 'create'%>" method="post" data-remote='true' data-remote-update="request_panel">

<div class="input-group mb-3">
<input type="text" class="form-control" name="username" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2"> <span class="input-group-text" id="basic-addon2">@example.com</span>
</div>

<input type="submit" name="create" value="create">

</form>

<div id="request_panel">
result
</div>

<%=params.inspect %>