<% 

	record = EMSCase.find params[:id]
	
%>
	<div class="row" >
	
	
<div class="col-12 ">

<!-- <h5 class="text-primary">Request</h5>	 -->
	
<form action="<%= get_path 'update'%>" method="post" data-remote='true' data-remote-update="reqeust-panel">
	
<% fieldset(:record) do |f| %>	

<input name="id" value="<%= record.id %>" type="hidden">

<%= inline(this,:'_form', :f=>f, :record=>record)  %>

<% end %>
<input type="submit" name="create" value="Update" class="btn btn-info">

</form>

<div id="reqeust-panel">

</div>


<script>
	refresh_remote()
</script>
	
	
</div>
</div>