	<ul class="metismenu mm-show" id="menu" >
		<li>
			<a href="./index">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title">Dashboard</div>
			</a>
		</li>
		
	</ul>