	<ul class="metismenu mm-show" id="menu" >
		<li>
			<a href="./setting">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title">Settings</div>
			</a>
		</li>
		
		
		<li>
			<a href="./providers">
				<div class="parent-icon"><i class="bx bx-user-circle"></i>
				</div>
				<div class="menu-title">Provider</div>
			</a>
		</li>
		
		
		<li>
			<a href="./ambulances">
				<div class="parent-icon"><i class="bx bx-bus-school"></i>
				</div>
				<div class="menu-title">Ambulance</div>
			</a>
		</li>
		
		
		<li>
			<a href="../EMSHospital/index">
				<div class="parent-icon"><i class="bx bx-buildings"></i>
				</div>
				<div class="menu-title">Hospitals</div>
			</a>
		</li>
		
		
		
		<li>
			<a href="./stations">
				<div class="parent-icon"><i class="bx bx-news"></i>
				</div>
				<div class="menu-title">Stations</div>
			</a>
		</li>
		
		
     <li>
					<a class="has-arrow" href="javascript:;" aria-expanded="false">
						<div class="parent-icon"><i class="bx bx-code-curly"></i>
						</div>
						<div class="menu-title">CBD</div>
					</a>
					<ul class="mm-collapse">
						<li> <a href="../EMSCode/index"><i class="bx bx-code-curly"></i>Codes</a>
						</li>
						<li> <a href="../EMSCodeGroup/index"><i class="bx bx-code-curly"></i>Groups</a>
						</li>
					</ul>
	</li>
				
		
	     <li>
						<a class="has-arrow" href="javascript:;" aria-expanded="false">
							<div class="parent-icon"><i class="bx bx-checkbox-checked"></i>
							</div>
							<div class="menu-title">Assessment</div>
						</a>
						<ul class="mm-collapse">
							<li> <a href="../EMSAssessment/index"><i class="bx bx-right-arrow-alt"></i>All</a>
							</li>
							<li> <a href="../EMSAssessment/med"><i class="bx bx-right-arrow-alt"></i>Medication</a>
							</li>
							<li> <a href="../EMSPatientStatus/index"><i class="bx bx-right-arrow-alt"></i>Patien Status</a>
							</li>
							
						
						</ul>
		</li>
		
		
				
	     <li>
						<a class="has-arrow" href="javascript:;" aria-expanded="false">
							<div class="parent-icon"><i class="bx bx-file-blank"></i>
							</div>
							<div class="menu-title">EMR</div>
						</a>
						<ul class="mm-collapse">
							<li> <a href="../EMRDocument/index"><i class="bx bx-right-arrow-alt"></i>Documents</a>
							</li>
							<li> <a href="../EMRRecord/index"><i class="bx bx-right-arrow-alt"></i>Records</a>
							</li>
						
						
						</ul>
		</li>
		
				
		     <li>
							<a class="has-arrow" href="javascript:;" aria-expanded="false">
								<div class="parent-icon"><i class="bx bx-bookmark-heart"></i>
								</div>
								<div class="menu-title">Pre Arrival</div>
							</a>
							<ul class="mm-collapse">
								
								<li> <a href="../EmsKM/index"><i class="bx bx-right-arrow-alt"></i>All</a>
								</li>
								<li> <a href="../EMSKWorkflow/index"><i class="bx bx-right-arrow-alt"></i>Workflows</a>
								</li>
								<li> <a href="../EMSKProcess/index"><i class="bx bx-right-arrow-alt"></i>Processes</a>
								</li>
								<li> <a href="../EMSKAction/index"><i class="bx bx-right-arrow-alt"></i>Actions</a>
								</li>
						
							</ul>
			</li>
				
				
		     <li>
							<a class="has-arrow" href="javascript:;" aria-expanded="false">
								<div class="parent-icon"><i class="bx bx-file-blank"></i>
								</div>
								<div class="menu-title">User / Role</div>
							</a>
							<ul class="mm-collapse">
								<li> <a href="./users"><i class="bx bx-right-arrow-alt"></i>Users</a>
								</li>
								<li> <a href="./roles"><i class="bx bx-right-arrow-alt"></i>Roles</a>
								</li>
						
						
							</ul>
			</li>
				
				
				
		
	</ul>