


<%


   if !request.post?

%>
<% else
require 'csv'

model = this.model

csv = CSV.parse(params[:file][:tempfile].read.bytes.pack("c*").force_encoding("UTF-8"), :headers => true)
list = []
map = {}
record_id = false

  csv[1..-1].each do |r|

    map[r[0]] = 0 unless map[r[0]]
    code_count = map[r[0]]+1
    map[r[0]] = code_count
    code = "#{r[0]}_#{code_count}"
    json = {:med=>r[1], :volume=>r[3].to_f, :unit=>r[4], :formula=>r[-1] }

    name = "#{r[1]} #{r[3]} #{r[4]}"
    name = "#{r[1]}" if r[3].to_i == 0



    list << {:code=>code, :name=>name, :group=>r[0], :data=>json.to_json ,:type=>'med', :sort_order=>code_count}



  end

  for i in list

    assess = EMSAssessment.where(:code=>i[:code]).first
    unless assess
      assess = EMSAssessment.create(i)
    else
      assess.update_attributes i
    end

  end

%>
<%= list.to_json %>

<% end %>


<li>Import (.csv) :
  <form action="upload" method="post" enctype="multipart/form-data">
    <label for="fname">File import:</label>
    <input type="file" id="lname" name="file"><br><br>
    <input type="submit" value="Submit">
  </form>
  </li>
