				<div class="row">
					<div class="col-12  my-2" >
					<style>
					       /* Set the size of the div element that contains the map */
					      #geo-map {
					        min-height:24vh;  /* The height is 400 pixels */
					        width: 100%;  /* The width is the width of the web page */
					       }
					    </style>

					    <!--The div element for the map -->
					    <div id="geo-map"></div>	<%=link_to '', "javascript:goPosition()"%>
					    <script>
					// Initialize and add the map
					var marker = null;
					var map = null;
					var poly = null;

					function initMap() {
					  // The location of Uluru
					  var uluru = {lat: 15.8700, lng: 100.9925};
					  // The map, centered at Uluru
					  map = new google.maps.Map(
					      document.getElementById('geo-map'), {zoom: 16, center: uluru});
					  // The marker, positioned at Uluru
					  marker = new google.maps.Marker({position: uluru, map: map});

					// var image="https://example.com/images/carnew.svg";

					 // marker = new google.maps.Marker({
					 // 			    position: uluru,
					 // 			    icon: image,
					 // 			    map: map
					 // 			});
					 
					 poly = new google.maps.Polyline({
					    strokeColor: '#0000ff',
					    strokeOpacity: 1.0,
					    strokeWeight: 3
					  });
					  poly.setMap(map);
					 
					 
					 
					}

					function goPosition(){
							setPosition(53.345735,-6.259548)
					}

					function setPosition(lat,lng){

						// lat = 53.345735;
						// 			lng = -6.259548;

						var new_marker_position = new google.maps.LatLng(lat, lng);

					   marker.setPosition(new_marker_position);
					   map.setCenter(new google.maps.LatLng( lat, lng ) );

					}
					    </script>
					    <!--Load the API from the specified URL
					    * The async attribute allows the browser to render the page while the API loads
					    * The key parameter will contain your own API key (which is not needed for this tutorial)
					    * The callback parameter executes the initMap() function
					    -->
					    <script async defer
					    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJG2R9rUftEv54TroM0Pv8c-L4STj4A4w&callback=initMap">
					    </script>
					</div>

				</div>
