			<style>
				.chat
				{
				    list-style: none;
				    margin: 0;
				    padding: 0;
				}

				.chat li
				{
				    margin-bottom: 10px;
				    padding-bottom: 5px;
				    border-bottom: 1px dotted #B3A9A9;
					min-height:80px;
				}

				.chat li.left .chat-body
				{
				    margin-left: 60px;
					margin-top:-50px;
				}

				.chat li.right .chat-body
				{
				    margin-right: 60px;
				}


				.chat li .chat-body p
				{
				    margin: 0;
				    color: #999999;
				}

				.panel .slidedown .glyphicon, .chat .glyphicon
				{
				    margin-right: 5px;
				}

				.panel-body
				{
				    overflow-y: scroll;
				    height: 1024px;
				}

				::-webkit-scrollbar-track
				{
				    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				    background-color: #F5F5F5;
				}

				::-webkit-scrollbar
				{
				    width: 12px;
				    background-color: #F5F5F5;
				}

				::-webkit-scrollbar-thumb
				{
				    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
				    background-color: #555;
				}
			
				</style>
				

<%
	
	
%>
<form action="nurse_note_create" class="note-message" method="post" enctype="multipart/form-data" >

<div class="row" style="margin-top:10px;border:0px solid">
<div class="col-3">
บันทึก 
</div>

<textarea name="record[description]" class=" form-control col-6 m-textarea " id="nurse_note_desc" style="width:100%;border:0px solid;border-radius: 4px;"></textarea>


<!-- <input name="note" type="text" id="note-value" class="secondary-blue col-6" style="border:0px solid;border-radius: 4px;color:white;"/> -->

<div class="col-3">

<input type="submit" value='เพิ่มบันทึก' class=' btn btn-pcm context disable' style="font-size:0.8em;vertical-align:middle" />

<%#link_to 'เพิ่มบันทึก',"#", :class=>'note_btn btn btn-pcm context disable',:style=>"font-size:0.8em;vertical-align:middle" %>
	
<%#link_to 'เพิ่มบันทึก',"#", :class=>'note_btn btn btn-pcm context disable',:style=>"font-size:0.8em;vertical-align:middle" %>
</div>






</div>

</form>



<script>
	

	
</script>
	


<div id="message-partial" style="overflow:auto">
	
</div>

<br/>
<div style="float:right" >
	
<%#link_to "+Medication", '#', :id=>'medication_add',:class=>'link link-info'%>

</div>

<script>
	
	// function create_medication(event){
// 		event.preventDefault();
//
// 		$.get( "medication_create?admit_id=<%=params[:id]%>",function(data,status){
// 		  $('.modal-content').html(data);
// 		});
//
//   	  	$('#admit-modal').modal({
//   	    	backdrop: 'static',
//   	    	keyboard: false
//   	 	})
//
// 	}
//
// 	function edit_medication(event){
// 		event.preventDefault();
//
// 		id = $(this).attr('id')
//
// 		$.get( "medication_edit?admit_id=<%=params[:id]%>&id="+id,function(data,status){
// 		  $('.modal-content').html(data);
// 		});
//
//   	  	$('#admit-modal').modal({
//   	    	backdrop: 'static',
//   	    	keyboard: false
//   	 	})
// 	}
//


var message_station_id = null;


	$(".note-message").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.
    
    var form = $(this);
    var url = form.attr('action')+"?station_id="+ message_station_id;

    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               $('#nurse_note-partial').html(data)// show response from the php script.
			   // $('#admit-modal').modal('toggle');
           }
    });
	
	$('#nurse_note_desc').val('')

});
	
	

	function reload_message(station_id){
		
	message_station_id = station_id
		
	$.ajax({
	  url: "message_partial?id="+station_id,
	  context: document.body
	}).done(function(data) {
	  $( '#message-partial' ).html(data);
	});
	
	}
	
	// $('#medication_add').click(create_medication);
	
	// reload_message();
	
	
</script>
