					<div style="">
						<iframe id="frame"  style="width:100%;height:24vh"></iframe>
					</div>
					<script>
					    $(window).load(function(){
					     $('iframe').load(function() {
						
					       });
					       $('#loading').show();
					       // $('iframe').attr( "src", "https://103.76.181.125:8080/808gps/open/player/video.html?lang=en&devIdno=819112150&account=admin&password=admin");

					     });
					</script>