<div class="geo-all-map">
				<div class="row">
					<div class="col-12  my-2" >
					<style>
					       /* Set the size of the div element that contains the map */
					      #geo-all-map {
					        min-height:48vh;  /* The height is 400 pixels */
					        width: 100%;  /* The width is the width of the web page */
					       }
					    </style>

					    <!--The div element for the map -->
					    <div id="geo-all-map"></div>	<%=link_to '', "javascript:goPosition()"%>
					    <script>
					// Initialize and add the map
					var marker_all = null;
					var map_all = null;
					var poly_all = null;
					
					var bounds = null;

					function initMapAllMap() {
						
						bounds = new google.maps.LatLngBounds();
						
					  // The location of Uluru
					  var uluru = {lat: 15.8700, lng: 100.9925};
					  // The map, centered at Uluru
					  map_all = new google.maps.Map(
					      document.getElementById('geo-all-map'), {zoom: 16, center: uluru});
					  // The marker, positioned at Uluru
					  marker_all = new google.maps.Marker({position: uluru, map: map_all});

					// var image="https://example.com/images/carnew.svg";

					 // marker = new google.maps.Marker({
					 // 			    position: uluru,
					 // 			    icon: image,
					 // 			    map: map
					 // 			});
					 
					 poly_all = new google.maps.Polyline({
					    strokeColor: '#0000ff',
					    strokeOpacity: 1.0,
					    strokeWeight: 3
					  });
					  poly_all.setMap(map_all);
					 
					 
					 
					}

					function goPosition(){
						<%
							latlng = Setting.get(:google_map_key,"13.6908282,100.6987491").split(",")
							
						%>
							setPosition(<%=latlng[0]%>,latlng[1])
					}
					
					function widget_all_map_update(locations){
						setPositions(locations);
					}
					
					function setPositions(locations){
						
						for (i = 0; i < locations.length; i++) {  
						  var marker = new google.maps.Marker({
							  // console.log(locations[i][1])
  // 							  console.log(locations[i][1])
							  
						    position: new google.maps.LatLng(locations[i][0], locations[i][1]),
						    map: map_all
						  });

						  //extend the bounds to include each marker's position
						  bounds.extend(marker.position);

						  google.maps.event.addListener(marker, 'click', (function(marker, i) {
						    // return function() {
	    // 						      infowindow.setContent(locations[i][0]);
	    // 						      infowindow.open(map_all, marker);
	    // 						    }
						  })(marker, i));
						}

						//now fit the map to the newly inclusive bounds
						map_all.fitBounds(bounds);
						
					}

					function setPosition(lat,lng){

						// lat = 53.345735;
						// 			lng = -6.259548;

						// var new_marker_position = new google.maps.LatLng(lat, lng);

					   // marker_all.setPosition(new_marker_position);
					   // map_all.setCenter(new google.maps.LatLng( lat, lng ) );

					}
					    </script>
					    <!--Load the API from the specified URL
					    * The async attribute allows the browser to render the page while the API loads
					    * The key parameter will contain your own API key (which is not needed for this tutorial)
					    * The callback parameter executes the initMap() function
					    -->
					    <!-- <script async defer
					    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJG2R9rUftEv54TroM0Pv8c-L4STj4A4w&callback=initMapAllMap">
					    </script> -->
					</div>

				</div>
</div>