<div id="widget-img" >
Case Infomation :
<br/>
</div>

<script>
    function widget_patient_update(admit_id){
		
		$.ajax({
		  url: "widget_img_partial?admit_id="+admit_id
		}).done(function(data) {
		  $('#widget-img').html(data);
		});
		
	}
</script>