<div class="geo-map">
				<div class="row">
					<div class="col-12  my-2" >
					<style>
					       /* Set the size of the div element that contains the map */
					      #geo-map {
					        min-height:24vh;  /* The height is 400 pixels */
					        width: 100%;  /* The width is the width of the web page */
					       }
					    </style>

					    <!--The div element for the map -->
					    <div id="geo-map"></div>	<%=link_to '', "javascript:goPosition()"%>
					    <script>
					// Initialize and add the map
					var marker_map = null;
					var marker_label = null;
					var map = null;
					var poly = null;
					
					function initMap(){
					
						
					  $.getScript("<%=url_for('js/aoc/maplabel.js')%>")	
						$(document).ready(initMap2);
					}	
						
					function initMap2() {
						
					  // The location of Uluru
					  var uluru = {lat: 15.8700, lng: 100.9925};
					  // The map, centered at Uluru
					  map = new google.maps.Map(
					      document.getElementById('geo-map'), {zoom: 16, center: uluru});
					  // The marker, positioned at Uluru
						  
					 
	    					var car = "M17.402,0H5.643C2.526,0,0,3.467,0,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759c3.116,0,5.644-2.527,5.644-5.644 V6.584C23.044,3.467,20.518,0,17.402,0z M22.057,14.188v11.665l-2.729,0.351v-4.806L22.057,14.188z M20.625,10.773 c-1.016,3.9-2.219,8.51-2.219,8.51H4.638l-2.222-8.51C2.417,10.773,11.3,7.755,20.625,10.773z M3.748,21.713v4.492l-2.73-0.349 V14.502L3.748,21.713z M1.018,37.938V27.579l2.73,0.343v8.196L1.018,37.938z M2.575,40.882l2.218-3.336h13.771l2.219,3.336H2.575z M19.328,35.805v-7.872l2.729-0.355v10.048L19.328,35.805z";
	  						// url: "<%=url_for "img/aoc/ambu.svg"%>",
					
	    					map_icon = {
	    					  path: car,
	    					  scale: 0.9,
	    					  strokeColor: 'white',
	    					  strokeWeight: .10,
	    					  fillOpacity: 1,
	    					  fillColor: '#303bef',
	    					  offset: '5%',
	  						// size: new google.maps.Size(sizeX, sizeY),
	  		//         				origin: new google.maps.Point(0, 0),
	  		//         				anchor: new google.maps.Point(sizeX/2, sizeY/2),
	    					  // rotation: parseInt(heading[i]),
	    					  anchor: new google.maps.Point(10, 25) // orig 10,50 back of car, 10,0 front of car, 10,25 center of car
	    					};
					 
					 	  
						  
						  
					  marker_map = new google.maps.Marker({position: uluru,icon: map_icon,  map: map});

					// var image="https://example.com/images/carnew.svg";

					 // marker = new google.maps.Marker({
					 // 			    position: uluru,
					 // 			    icon: image,
					 // 			    map: map
					 // 			});
					 
					 poly = new google.maps.Polyline({
					    strokeColor: '#0000ff',
					    strokeOpacity: 1.0,
					    strokeWeight: 3
					  });
					  poly.setMap(map);
					 
					 
					
					 
					 
					 initMapAllMap()
					 
					}
					
					function resetPath(){
						// var size = poly.length;
		//
		// 				for (i=0; i<size; i++)
		// 				{
		// 				  poly[i].setMap(null);
		// 				}
						
   					 poly = new google.maps.Polyline({
   					    strokeColor: '#0000ff',
   					    strokeOpacity: 1.0,
   					    strokeWeight: 3
   					  });
   					  poly.setMap(map);
					}
					
					function widget_map_setLocation(obj, lat, lng, speed, direction, online){
						
						
						
						
						var latlng = new google.maps.LatLng(lat,lng);
						
						if(marker_label == null) {
						
						marker_label = new MapLabel({
						  text:  obj['title'],
						  position: latlng,
						  map: map,
						  fontSize: 20,
						  align: 'left'
						});
						
						}
						
						console.log( " Lat "+obj['lat']+" Lng " + obj['lng'] +" Hx :"+obj['dvr_hx']+ " Name "+obj['title'] +" Label "+marker_label.text  )
						
						marker_label.position = new google.maps.LatLng( lat, lng +0.0005)
					
						marker_label.setText(obj['title'] +"("+speed+"km/h)")
						
						
						marker_map.setPosition(latlng);
						
	  					var ic2 = marker_map.get("icon");
	  					ic2.rotation = direction;
	  					marker_map.set("icon", ic2);

						map.setCenter(latlng);
						
					

					    var path = poly.getPath();
					    path.push(marker_map.position);
						
						
					}
					
					
					function widget_map_getMarker(){
						return marker_map;
					}
					
					function goPosition(){
							setPosition(53.345735,-6.259548)
					}

					function setPosition(lat,lng){

						// lat = 53.345735;
						// 			lng = -6.259548;

						var new_marker_position = new google.maps.LatLng(lat, lng);
					
					   marker_map.setPosition(new_marker_position);
					   // map.setCenter(new google.maps.LatLng( lat, lng ) );

					}
					    </script>
					    <!--Load the API from the specified URL
					    * The async attribute allows the browser to render the page while the API loads
					    * The key parameter will contain your own API key (which is not needed for this tutorial)
					    * The callback parameter executes the initMap() function
					    -->
					    <script async defer
					    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJG2R9rUftEv54TroM0Pv8c-L4STj4A4w&callback=initMap">
					    </script>
						
					    <script src=""></script>
						
					</div>

				</div>
</div>