

Patient Infomation :
<br/>
First name : <span class="value">Name</span>


<div class="station">
					<div class="row">
					<div class="col-6  ph dvr_sp">
						<span class="label">Speed</span>
						<div class="value">-</div>
					</div>
					<div class="col-6 ph  dvr_hx">
						<span class="label">Direction</span>
						<div class="value">-</div>
					</div>

						<div class="col-6  ph dvr_ol">
							<span class="label">Online</span>
							<div class="value">-</div>
						</div>
						

		
				
				</div>
</div>