			
					<style>
						.wave{
							/*min-height:3em;*/
							height:3em;
							/*background:#111;
							border:1px solid #333;*/
/*							background:#111;
							border:1px solid #686E71;*/
						}
					</style>

			
					<div id="wave-1" class="wave col-lg-12  order-1" style="">

					</div>
				
					<div id="wave-2" class="wave col-lg-12  order-1" style="">

					</div>
				
					<div id="wave-3" class="wave col-lg-12  order-1" style="">

					</div>
				
					<div id="wave-4" class="wave col-lg-12  order-1" style="">

					</div>
				
					<div id="wave-5" class="wave col-lg-12  order-1" style="">

					</div>
				