<%
	
admit = Admit.find params[:admit_id]

records = admit.records

patient = Patient.find admit.patient_id
	
%>
Patient Infomation :
<%#=patient.inspect%>
<br/>
Name : <span class="p-name"><%=patient.name%></span>
<br/>Contact : <span class="p-contact"><%=patient.contact_name%></span>
<br/>Phone : <span class="p-phone"><a href='tel:<%=patient.contact_phone%>'><i class="fas fa-phone-alt pr-1"></i><%=patient.contact_phone%></a></span>