<div class="stationx">
					<div class="row">
					<div class="col-6  ph pr">
						<span class="label">PR</span>
						<div class="value">-</div>
					</div>
					<div class="col-6 ph  bp">
						<span class="label">BP</span>
						<div class="value">-</div>
					</div>

						<div class="col-6  ph temp">
							<span class="label">Temp</span>
							<div class="value">-</div>
						</div>
						<div class="col-6  ph rr">
							<span class="label">RR</span>
							<div class="value">-</div>
						</div>

					<div class="col-6 ph spo2">
						<span class="label">SpO2</span>
						<div class="value">-</div>
					</div>

				    <div class="col-6 ph hr">
					    <span class="label">HR</span>
					    <div class="value">-</div>
				    </div>
				
				<div class="col-6 ph co2">
					<span class="label">CO2</span>
					<div class="value">-</div>
				</div>

			    <div class="col-6 ph ">
				    <span class="label"></span>
				    <div class="value">-</div>
			    </div>
				
				</div>
</div>