
<div id="widget-patient" >
Patient Infomation :
<br/>
Name : <span class="p-name">Name</span>
</div>

<script>
    function widget_patient_update(admit_id){
		
		$.ajax({
		  url: "widget_patient_partial?admit_id="+admit_id
		}).done(function(data) {
		  $('#widget-patient').html(data);
		});
		
	}
</script>