<%
	
admit = Admit.find params[:admit_id]
mess = Message.where(:admit_id=>params[:admit_id]).all
records = admit.records

patient = Patient.find admit.patient_id
	
%>
Case Infomation :
<br/>
<%#=mess.inspect%>
<!--
<div class="col-6">
<a href="https://picsum.photos/400" target="_blank"><img src="https://picsum.photos/100" class="w-100 p-1 rounded"></a>
</div>
-->
<div class="row">
<%  for m in mess 
        if m.type == 'image' 
            url = "../Message/content?id=#{m.id}" 
%>
<div class="col-6">
<a href="<%=url%>" target="_blank"><img src="<%=url%>" class="w-100 p-1 rounded"></a>
</div>
<%  
        end
    end 
%>
</div>
