<br/><br/>
<style>
	.btx{
		width:200px;
		margin:20px;
/*		font-size:2em;*/
/*		padding:30px;*/
	}
</style>
<center>
<center>
<h3 class="header">Smart AOC :</h3>
</center>
<hr/>

<div class="row">
<div class="col-12 col-sm-4">
<%= link_to "AOC", "aoc", :class=>'btx btn btn-info' %> <br/>
</div>
<div class="col-12 col-sm-4">
	
<%= link_to "Mobile", "../SmartAOCMobile/index", :class=>'btx btn btn-info' %>

</div><div class="col-12  col-sm-4">
 <%= link_to "Dashboard", "dashboard", :class=>'btx btn btn-info' %>
</div></div>
</center>