<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/aoc.css?=22')%>" rel="stylesheet">
<link href="<%=url_for('css/aoc_dark.css?=22')%>" rel="stylesheet">
<style>	
	
	hr.new1 {
		border-top: 1px solid #C2C2C287;
	} */
</style>
<%
		
@current_zone = Zone.first
@current_zone = Zone.find session[:current_zone] if session[:current_zone]
@current_zone = nil if @current_zone and @current_zone.mode!='aoc'
 unless @current_zone
	 @current_zone = Zone.where(:mode=>'aoc').first
	 session[:current_zone] = @current_zone.id
end

		
	ambulances = Ambulance.where(:zone_id=>@current_zone.id).all
	
	
%>
<br/><br/>
<center>
<h3 class="m-header font-weight-bold text-uppercase">Smart AOC : Mobile</h3>
</center>
<br/>
<p class="px-3">Ambulance lists:</p>

<% for i in ambulances 

admit = Admit.where(:ambulance_id=>i.id, :status=>'Admitted').first

cls = 'm-admit'


name = "#{i.name} [ #{i.plate_license} ]"

if admit
	name = "#{i.name} [ #{i.plate_license} ] : #{admit.case_no}"
	cls = 'm-allocate' 
end

%>

<div class="row">
	<div class="col-12 ">
		<div class="px-3">
			<%=link_to "<i class='fas fa-ambulance pr-2'></i> #{name}".html_safe, "show?id=#{i.id}",:class=>"btn #{cls}",:style=>''%><br/>
		</div>
	</div>
</div>
<% end %>
<hr class="new1 mx-3 mb-4"/>
<center>  <%=link_to 'Back', "../SmartAOC/index",:class=>'btn btn-secondary' %></center>

