<h5>Medication</h5>


<div id="medication-partial" style="overflow:auto">

</div>


<script>
	
	var medication_admit_id = null;
	
	function create_medication(event){
		event.preventDefault();
		
		$.get( "<%=get_path "medication_create"%>?admit_id="+medication_admit_id,function(data,status){
		  $('.modal-content').html(data);
		});
		
  	  	$('#admit-modal').modal({
  	    	backdrop: 'static',
  	    	keyboard: false
  	 	})
	
	}
	
	function edit_medication(event){
		event.preventDefault();
		
		id = $(this).attr('id') 
		
		$.get( "<%= get_path "medication_edit"%>?admit_id="+medication_admit_id+"&id="+id,function(data,status){
		  $('.modal-content').html(data);
		});
		
  	  	$('#admit-modal').modal({
  	    	backdrop: 'static',
  	    	keyboard: false
  	 	})
	}
	
	$('#medication_add').click(create_medication);
	
	
	function reload_medication(admit_id){
	
	medication_admit_id = admit_id
	
	$.ajax({
	  url: "<%= get_path "medication_partial" %>?admit_id="+medication_admit_id,
	  context: document.body
	}).done(function(data) {
	  $( '#medication-partial' ).html(data);
	});
	
	}
	
	

	
	
	
	
</script>
