<%


admit = nil 

if params[:station_id]
	station = Station.find params[:station_id]
	admit = Admit.where(:station_id=>station.id, :status=>"Admitted").first
	params[:admit_id] = admit.id
else 
	admit = Admit.find(params[:admit_id])
end



start_time = Time.now 


desc = "Random text : #{rand(99999)} #{Time.now}"

if params[:record] 

start_time = params[:record][:start_time] 
desc = params[:record][:description]



end

if request.post?

params[:record][:start_time] = Time.now unless  params[:record][:start_time] 
	
record = admit.nurse_records.create params[:record] 


path = "miot/#{@context.settings.name}/z/#{admit.zone.name}"
msg = 'NULL'
send_msg = <<MSG
#{'Zone.Message'} #{path}
#{msg.to_json}
MSG
@context.settings.redis.publish(path, send_msg)
				   
				   

	
%><%# inline(this,:'_nurse_note_partial') %><br/>

<% else %>

<form action="nurse_note_create?admit_id=<%=params[:admit_id]%>" class="model-remote" method="post" enctype="multipart/form-data" >
	
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Nurse Note Record : Create</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">	  	
<%= inline(this,:'_nurse_note_form') %>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-primary"  name="Submit" value="Submit"/>
  </div>
</div>

</form>
<script>
		$(document).ready(function(){
			
			$('#nurse_note_desc').focus()
			
		})
		
		$(".model-remote").submit(function(e) {
	
	    e.preventDefault(); // avoid to execute the actual submit of the form.
	    
	    var form = $(this);
	    var url = form.attr('action');

	    $.ajax({
	           type: "POST",
	           url: url,
	           data: form.serialize(), // serializes the form's elements.
	           success: function(data)
	           {
	               // $('#nurse_note-partial').html(data)// show response from the php script.
				   $('#admit-modal').modal('toggle');
	           }
	    });

	});
	

</script>
<% end %>