
<%


  document = EMRDocument.where(:name=>params[:document]).first

  if request.post?


  document.update_attributes :schema=>params[:schema]


    record = EMRRecord.create :stamp=>Time.now, :document_id=>document.id, :admit_id=>nil, :data=>params[:record]



%>
true
<% else %>
<%



    record = EMRRecord.new

    values = {}

%>
<form action="<%=get_path 'create_partial'%>" id="form" method="post">
<input type="hidden" name="case_id" value="<%#ems_case.id%>">
<input type="hidden" name="document" value="<%=document.name%>">
<input type="hidden" name="schema" id="schema" value="">

<% fieldset(:record) do |f| %>
<%= inline(this,'documents/_'+document.name, :this=>this, :f=>f, :record=>values)  %>
<% end %>
<br/>
<div class="modal-footer">
  <input type="submit" value="Create" class="btn btn-success">

  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>

</form>
<% end %>

<script>

  $("#form").submit(function(e){

    fields = []

    $('.field').each(function(){

        cname =  $(this).attr("name")
        start =  cname.indexOf('[')
        column = cname.substring(start+1, cname.length-1)

        f = {'name':column,'type':$(this).attr('field_type')}
        fields.push(f)

    })

    $('#schema').val(JSON.stringify(fields))


    var form = $(this);
    var actionUrl = form.attr('action');

    $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
          // alert(data);
          $('#dispatch_emr_panel').modal("hide")
          // show response from the php script.
        }
    });

    e.preventDefault();

  });






</script>

