<h1> Admin </h1>
<hr/>
<div class="row">
<div class="col">
<%=link_to 'Shutdown', "shutdown", :class=>'btn btn-danger'%>
</div>
<div class="col">
<%=link_to 'Log', "log", :class=>'btn btn-warning'%>
</div>
</div>