<% 

records = DataRecord.where(:send_status=>{'$ne'=>true}).order(:created_at=>-1).limit(100).sort{|a,b| b.stamp<=>a.stamp}



list = []

for i in records




begin
result = nil

bp = i.bp
bps = i.bp.split("/")
bp_sys = bps[0]
bp_dia = bps[1]

pr = i.pr

weight = i.weight
height = i.height
admit = Admit.find i.admit_id

if admit
	
patient = Patient.find admit.patient_id

if patient

    bps =  i.bp
    bp_sys = bps[0]
    bp_dia = bps[1]
    pr = params[:pr]
	
	jobj = JSON.parse i.data

    px = {:hn=>patient.hn, :weight=>i.weight,:bp=>i.bp, :bp_sys=>i.bp_sys, :bp_dia=>i.bp_dia, :bp_mean=>i.bp_mean, :height=>i.height, :bmi=>i.bmi, :pr=>i.pr, :rr=>i.rr, :spo2=>i.spo2, :temp=>i.temp, :serial_number=>jobj['device_id']}
	
	px[:time] = i.stamp.strftime("%H:%M:%S")
	px[:date] = i.stamp.strftime("%Y-%m-%d")
	
	# {"hn":"123456","datetime":"2021-5-13T0:7:50","score":"1","bp":"120/80","bp_sys":"120","bp_dia":"80","bp_mean":"100","pr":"80","spo2":"99","temp":"35.4",
	# 	"weight":"90","height":"180.0","bmi":"27.78","device_id":"00000","gxt":"miot","service":"EsmMiotMonitor::SmartOPD","operation":"post"}
	
	#
	# px[:weight] = format("%.2f",params[:weight].to_f) if params[:weight] and params[:weight]!="" and params[:weight]!="-"
	# px[:height] = format("%.2f",params[:height].to_f) if params[:height] and params[:height]!="" and params[:height]!="-"
	#
	#
	# if params[:weight] and params[:weight]!="" and params[:weight]!="-"
	#
	#     	weight = params[:weight].to_f
	#     	height = params[:height].to_f
	#
	# 	px.merge! :weight=>format("%.2f",weight),:height=>format("%.2f",height),:bmi=>format("%.2f",weight/height/height*10000)
	#
	# end
	#
	# px[:pr] = params[:pr] if params[:pr]!='' and params[:pr]!='-'
	# px[:spo2] = params[:spo2] if params[:spo2]!='' and params[:spo2]!='-'
	# px[:temp] = params[:temp] if params[:temp]!='' and params[:temp]!='-'
	# px[:rr] = params[:rr] if params[:rr]!='' and params[:rr]!='-'
	#
	# px[:time] = Time.now.strftime("%H:%M:%S")
	# px[:date] = Time.now.strftime("%Y-%m-%d")
	#
	# px[:serial_number] = Setting.get(:serial_number,'00000')
	#
	# px[:serial_number] = params[:device_id] if params[:device_id]
	


##############################################################


his_post_opd_url = URI("http://localhost:9292/send")


##############################################################

url = his_post_opd_url


error = false
err_msg = "NA"




  http = Net::HTTP.new(url.host, url.port)
  http.read_timeout = 2 # seconds


  request = Net::HTTP::Post.new(url.path, initheader = {'Content-Type' =>'application/json'})
  request.set_form_data(px)


  response = Net::HTTP.start(url.host, url.port,:open_timeout => 1, :read_timeout => 3) {|http| http.request(request)}


  result = JSON.parse response.body


  puts 'RESULT '+result.to_json

 

  # if result['status'] == '200 OK'
	 
  i.update_attributes :send_status=>result['status']=='200 OK', :send_msg=>result.to_json
  
  result['id'] = i.id
  
  list << result
	  
  # end




end

end

rescue Exception => e
  puts e.to_s 
  list << {:id=>i.id, :status=>'505 ERROR', :msg=> e.message  }
  error = true
  err_msg = "Server Timeout!"
end



end







%><%=list%>

    </table>
    </div>
</div>
<meta http-equiv="refresh" content="30">  