<%
	
list = UserLog.where(:user_id=>@current_user.id).sort(:created_at=>-1).limit(20).all
	
%>
<table class="table">
	<thead>
		<tr>
			<th>
				User
			</th>
			
			<th>
				Action
			</th>
			
			<th>
				Created at
			</th>
				
		</tr>
	</thead>
	<tbody>
		<% for i in list %>
			<tr>
				<td>
					<%= @current_user.login %>
				</td>
				<td>			
					<%= i['action']%>
				</td>
				<td>			
					<%= i['created_at']%>
				</td>
			</tr>
		<% end %>
		
	</tbody>
</table>	