<%
require 'uri'
require 'net/http'
require 'openssl'
	
if request.post?
	
	


	url = URI("https://portal-otp.smsmkt.com/api/otp-validate")

	http = Net::HTTP.new(url.host, url.port)
	http.use_ssl = true
	http.verify_mode = OpenSSL::SSL::VERIFY_NONE

	request = Net::HTTP::Post.new(url)
	request["Accept"] = 'application/json'
	request["Content-Type"] = 'application/json'
    request["api_key"] = Setting.get("sms_api_key")
    request["secret_key"] = Setting.get("sms_secret_key")
	request.body = "{\"token\":\"#{params[:token]}\",\"ref_code\":\"#{params[:ref]}\",\"otp_code\":\"#{params[:otp]}\"}"

	response = http.request(request)
	body =  response.read_body
	res = JSON.parse(body)
	puts body
	 if res['code'] == "000" and res['result']['status'] == true
		 
		 @current_user.update_attributes :verify_2fa=>true, :verify_2fa_at=>Time.now 
		 
	 else
		 @current_user.update_attributes :verify_2fa=>false
		 
	 end
	 
	 %>
	 <meta http-equiv="refresh" content="0; url=profile" /> 
	 <%
	
else 
	
	ref = format("%06d",rand(999999))
	
	phone = @current_user.mobile
	
    url = URI("https://portal-otp.smsmkt.com/api/otp-send")

    http = Net::HTTP.new(url.host, url.port)
    http.use_ssl = true
    http.verify_mode = OpenSSL::SSL::VERIFY_NONE

    request = Net::HTTP::Post.new(url)
    request["Accept"] = 'application/json'
    request["Content-Type"] = 'application/json'
    request["api_key"] = Setting.get("sms_api_key")
    request["secret_key"] = Setting.get("sms_secret_key")
    project_key = "e66c042574"
    phone =phone
    ref =ref
    request.body = "{\"project_key\":\"#{project_key}\",\"phone\":\"#{phone}\",\"ref_code\":\"#{ref}\"}"

    response = http.request(request)
    
    body =  response.read_body
	res = JSON.parse(body)
	

    ref_code = ""
    if res['code'] == "000"
      ref_code = res['result']['ref_code']
      token =  res['result']['token']
      query = "ref=#{ref_code}&token=#{token}"
    end
	
	
	
	
	
%>
<form action="send_otp" method="post">
	OTP : <input name="otp" class="form-control mb-3" value="" type="text"><br/>
	Ref : <input name="ref" class="form-control mb-3" value="<%=ref_code%>" type="text"><br/>
	Token : <input name="token" class="form-control mb-3" value="<%=token%>" type="text"><br/>
	<input type='submit' value="Send" class="btn btn-primary">
</form>
<pre><%=body%></pre>
<!-- <meta http-equiv="refresh" content="0; url=" /> -->
<% end %>