<!--banner-->
<div class="row justify-content">
	<div class="col-6">   
  
  	  <span style="color:#aaa;font-size:0.6em"><i>© 2021 Smart Health All Rights Reserved</i></span>
   
	</div>
</div>
<!--end banner-->
