

<div id="chart-1">
</div>	



<svg width="600" height="500"></svg>
<script>



	var formatTime = d3.timeFormat("%e %B");
	      xdata = [];

	var w = window.innerWidth;
	if(w>1000)w=1000
	// set the dimensions and margins of the graph
	var margin = {top: 30, right: 30, bottom: 30, left: 60},
	    width = w - margin.left - margin.right,
	    height = 200 - margin.top - margin.bottom;
	
	//
	// xscale = d3.scaleTime()
	//     .range([0, width]);
	//

			  data = <%=[{h:'A',v:10},{h:'B',v:20},{h:'C',v:20},{h:'D',v:24},{h:'E',v:40}].to_json%>
		  
	  var xscale = d3.scaleBand()
	    .range([ 0, width ])
	    .domain(data.map(function(d) { return d.h; }))
	    .padding(1);
		
		

	    yscale = d3.scaleLinear()
	    .range([height-10, 10]);	

	// append the svg object to the body of the page
	var svg2 = d3.select("#chart-1")
	  .append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform",
	          "translate(" + margin.left + "," + margin.top + ")");


		  
		  
		 	var line = d3.line()
		      .x(function(d) { return xscale(d.t); })
		 	 .y(function(d) { return yscale(d.v); })
		  

			  // data.forEach(function(d,i) {
  // 			  d.t = Date.parse(d.t);
  // 			  });
		  
			  xdata = xdata.concat(data)
	  		  xdata = xdata.concat({h:'E',v:0})
		  
			  // xscale.domain(d3.extent(xdata, function(d) { return d.t; }));
			  yscale.domain(d3.extent(xdata, function(d) { return d.v; }));
		  
		    svg2.append("g")
		      .attr("transform", "translate(0," + height + ")")
		      .call(d3.axisBottom(xscale).tickSize(-height).ticks(10));

		    svg2.append("g")
		      .call(d3.axisLeft(yscale).tickSize(-width).ticks(10))
		      .select(".domain").remove()
	  		svg2.selectAll(".tick line").attr("stroke", "#cbcbcb")

		 svg2.selectAll("bar")
		      .data(data)
		    .enter().append("rect")
		      .style("fill", "steelblue")
		      .attr("x", function(d) { return xscale(d.h)-25; })
		      .attr("width", 50)
		      .attr("y", function(d) { return yscale(d.v); })
		      .attr("height", function(d) { return height - yscale(d.v); });
			  
			  
// Bars
// svg.selectAll("mybar")
//   .data(data)
//   .enter()
//   .append("rect")
//     .attr("x", function(d) { return x(d.Country); })
//     .attr("y", function(d) { return y(d.Value); })
//     .attr("width", x.bandwidth())
//     .attr("height", function(d) { return height - y(d.Value); })
//     .attr("fill", "#69b3a2")
//

	</script>
