<div class="row banner-header" style="">

<div class="col">
	<div>
		<span class="banner-title"><%=link_to @access_title, "index" %></span>
		<br/>
		<span style="font-size:0.8em">ระบบ SmartHealth</span>
    </div>
</div>

<div class="col  d-flex justify-content-end">

</div>


</div>
