<div id="calendar"></div>



<script>
  
<% if true

	visits = SHVisit.all
	networks = SHNetwork.all
  patients = Patient.where(:zone_id=>session[:current_zone]).all
  m_pn = Hash[patients.collect{|i| [i.id,i.network_id]}.compact]
  m_nid_name = Hash[networks.collect{|i| [i.id,i.name]}]
  colors = %w{ #84A7FF #A9DEF9 #CE99FF #E6BEFD #77DDDF #31CAC8}
  m_nid_c = {}
  networks.each_with_index{|v,i| m_nid_c[v.id]=colors[i%6]}
  map = {}
  for v in visits
    d = v.start.strftime("%Y-%m-%d")
    n = m_pn[v.patient_id]
    map[d] = {} unless map[d]
    map[d][n] = [] unless map[d][n]
    map[d][n] << v.patient_id
  end
  netnum = []
  for d in map.keys
    for n in map[d].keys
      netnum << {
        title:"#{m_nid_name[n]} (#{map[d][n].size})",
        url:"index?date="+d,
        start:d,
        color:m_nid_c[n],
      }
    end
  end


	visits.collect!{|i|
		p = Patient.find(i.patient_id)
		if p
		title = "#{p.hn} : #{p.first_name} #{p.last_name}"
			
        {
          title: title,
          url: "../Visit/show?id=#{i.id}",
          start: i.start.strftime("%Y-%m-%d")
        }
		else
		nil
		end
		
	}.compact!


  pname=""
  if params[:patient_id]
    p = Patient.find(params[:patient_id])
    pname="#{p.first_name} #{p.last_name}" 
  end
%>


    document.addEventListener('DOMContentLoaded', function() {
	
		
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        selectable: true,
        events: <%=netnum.to_json.html_safe%>,
		dateClick: function(info) {


<% if params[:patient_id] %>

 var myKeyVals = {'patient_id':'<%=params[:patient_id]%>','date':info.dateStr}
 var da = info.dateStr.split('-')
 var df = da[2]+'/'+da[1]+'/'+da[0]
 if(confirm('ท่านต้องการเพิ่มนัดหมาย <%=pname%> วันที่ '+df+' ใช่หรือไม่?')){
 
 $.ajax({
     type: "POST",
     url: "_create_visit",
     data: myKeyVals ,
     dataType: "json",
            success: function (result) {   // Result is not coming here please help
                alert("before popup");                
            },
            failure: function (response) {
           
                console.log(response.responseText);
            },
            error: function (response) {
                //window.location.reload();
                window.location.href='index?date='+info.dateStr;
            }
 });
 
 }

 <% else %>

window.location = "../SmartHealth/index?date="+info.dateStr
 
 <% end  %>
 			
 
		  }
      });
	  
	  
	  

      calendar.render();
    
  	
	
	});
	
	
	
	<% end %>

</script>