<div id="calendar">Loading</div>



<script>
  
<% if true

	visits = SHVisit.all
	
=begin
	visits.collect!{|i|
		p = Patient.find(i.patient_id)
		if p
		title = "#{p.hn} : #{p.first_name} #{p.last_name}"
			
        {
          title: title,
          url: "../Visit/show?id=#{i.id}",
          start: i.start.strftime("%Y-%m-%d")
        }
		else
		nil
		end
		
	}.compact!
=end

  visits.collect!{|i|
		p = Patient.find(i.patient_id)
		if p
		title = "#{p.hn} : #{p.first_name} #{p.last_name}"
			
        {
          title: title,
          url: "index?date="+i.start.strftime("%Y-%m-%d"),
          start: i.start.strftime("%Y-%m-%d")
        }
		else
		nil
		end
		
	}.compact!

  pname=""
  if params[:patient_id]
    p = Patient.find(params[:patient_id])
    pname="#{p.first_name} #{p.last_name}" 
  end
%>


    document.addEventListener('DOMContentLoaded', function() {
	
		
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        selectable: true,
        events: <%=visits.to_json.html_safe%>,
		dateClick: function(info) {


<% if params[:patient_id] %>

 var myKeyVals = {'patient_id':'<%=params[:patient_id]%>','date':info.dateStr}
 var da = info.dateStr.split('-')
 var df = da[2]+'/'+da[1]+'/'+da[0]
 if(confirm('ท่านต้องการเพิ่มนัดหมาย <%=pname%> วันที่ '+df+' ใช่หรือไม่?')){
 
 $.ajax({
     type: "POST",
     url: "_create_visit",
     data: myKeyVals ,
     dataType: "json",
            success: function (result) {   // Result is not coming here please help
                alert("before popup");                
            },
            failure: function (response) {
           
                console.log(response.responseText);
            },
            error: function (response) {
                //window.location.reload();
                window.location.href='index?date='+info.dateStr;
            }
 });
 
 }

 <% else %>

window.location = "../SmartHealth/index?date="+info.dateStr
 
 <% end  %>
 			
 
		  }
      });
	  
	  
	  

      calendar.render();
    
  	
	
	});
	
	
	
	<% end %>

</script>