<%
	
	
@record = nil

if params[:id]
	@record = SHUserHospital.find params[:id]
else
	@record = SHUserHospital.new :hospital_id=>params[:hospital_id]
end	


	
	
	
%>

<%
	
if request.post?
	
	
	# {"hospital_id"=>"5fccadccc0a7942e37d735f4", "provider_id"=>"60030e21c0a7947625dc3e36", "user_id"=>"60030e21c0a7947625dc3e37", "provider"=>{"name"=>"adf", "department"=>"asdf", "license"=>"asdf", "phone"=>"adsf", "email"=>"asdfadf"}, "record"=>{"provider_type"=>"doctor", "hospital_id"=>"5fccadccc0a7942e37d735ef"}, "user"=>{"login"=>"dfdfdf"}, "password"=>"", "password_confirm"=>"", "gxt"=>"miot", "service"=>"EsmMiotMonitor::SmartHealth", "operation"=>"ha_provider_create"}
 
 	provider = nil
	user = nil
	
	
	
	
 
 	if params[:provider]
		
		provider = Provider.find params[:provider_id]
		
		if provider 
			
			provider.update_attributes params[:provider]
		
		else
		
			provider = Provider.create params[:provider]
		
		end 
		
		
	end
	
	
	
 	if params[:user]
		
		user = User.find params[:user_id]
		
		if user 
			
			user.update_attributes params[:user]
			
			if  params[:password].size > 0 and params[:password] == params[:password_confirmation]
				user.password = params[:password]
				user.save
			end
			
		
		
		else
			
			role = 'hospital'
			role = 'hospital_admin' if params[:record][:provider_type] == 'admin'
			role = 'hospital_operator' if params[:record][:provider_type] == 'operator'
			role = 'hospital_terminal' if params[:record][:provider_type] == 'terminal'
			
			
			
			
			hospital_role = Role.where(:name=>role).first
			
			unless hospital_role
				
				hospital_role = Role.create :name=>role
				
			end
			params[:user][:role_id] = hospital_role.id
			user = User.create params[:user]
			
			
			if  params[:password].size > 0 and params[:password] == params[:password_confirmation]
				user.password = params[:password]
				user.save
			end
			
		end 
		
		
	end
	
	
	params[:record][:provider_id] = provider.id if provider
	params[:record][:user_id] = user.id if user
	

	@record.update_attributes params[:record]
		
 
 
	
	
	
%>
Updating..
<META HTTP-EQUIV="Refresh" CONTENT="0;URL=index">

<% else %>


<h1> Hospital User : <%=(params[:id])? "Edit" : "Create" %> </h1>

<form action="" method="post">

<%=inline(this,:'_ha_provider_form')%>


<input type="submit" value="ดำเนินการ" class="btn btn-primary"/>
<a class="btn btn-secondary" href="index">ย้อนกลับ</a>
</form>
<% end %>