
<% require_relative 'lib'%>
<%
  @record = record
%>
<div class="card">
<div class="card-header bg-primary text-white">
<center>Anaphylaxis</center>
</div>

<div class="card-body">
  <div class="row">


  </div><!--row-->
</div><!--card body-->
</div><!--card-->
