
<% require_relative 'lib'%>
<%
  @record = record
%>
<div class="card">
<div class="card-header bg-primary text-white">
<center>Status epilepticus</center>
</div>

<div class="card-body">
  <div class="row">

<div class="col-12">
<h6 class="mb-0 text-primary">หากยังไม่หยุดชัก พิจารณาให้ยา</h6>
<%
  list = <<LIST
1|IV access —> Midazolam 10 mg. IV (0.2mg./kg.) เวลา.........น.
2|IV access —> Diazepam 10 mg. IV (0.15mg./kg.) เวลา.........น. 
3|IM access —> Midazolam 10 mg IM (0.2mg./kg.) เวลา.........น.
LIST

%>
<%= check_string this, 'drug', :value=>list.split("\n"),:pair=>true,:col_item=>'col-12', :col=>10 %>
</div>

<div class="col-12"><br/></div>

<div class="col-12">
<h6 class="mb-0 text-primary">ให้ยาแล้วยังไม่หยุดชัก</h6>
<%
  list = <<LIST
1|ให้ยาในขนาดเดิมอีก 10 นาทีถัดมา
2|Midazolam 10 mg. IV (0.2mg./kg.) เวลา.........น. 
3|Diazepam 10 mg. IV (0.15mg./kg.) เวลา.........น. 
4|Midazolam 10 mg IM (0.2mg./kg.) เวลา.........น.
LIST

%>
<%= check_string this, 'drug_continue', :value=>list.split("\n"),:pair=>true,:col_item=>'col-12', :col=>10 %>
</div>

<div class="col-12"><br/></div>


  </div><!--row-->
</div><!--card body-->
</div><!--card-->