
<% require_relative 'lib'%>
<%
  @record = record
%>
<div class="card">
<div class="card-header bg-primary text-white">
<center>Stroke fast track</center>
</div>

<div class="card-body">
  <div class="row">

<div class="col-12">
<h6 class="mb-0 text-primary">Stoke screen : FAST</h6>
<table class="table table-bordered">
<tr>
<td>คะแนน</td>
<td>คะแนน 0</td>
<td>คะแนน 1</td>
<td>คะแนน 2</td>
</tr>
<tr>
<td>ปากเบี้ยว</td>
<td>ไม่มี</td>
<td>มุมปากไม่เท่ากัน</td>
<td>มุมปากไม่ขยับเมื่อยิ้ม</td>
</tr>
<tr>
<td>แขนอ่อนแรง</td>
<td>ไม่อ่อนแรง</td>
<td>ข้างเดียว พอยกได้</td>
<td>ข้างเดียว ยกแขนขึ้นไม่ได้เลย</td>
</tr>
<tr>
<td>การพูด</td>
<td>ปกติ</td>
<td>พูดไม่ชัด</td>
<td>พูดไม่ได้ ตะกุกตะกัก ไม่รู้เรื่อง</td>
</tr>
<tr>
<td colspan="4" align="center">คะแนน ≥1 = STROKE</td>
</tr>
</table>

<center>
***อ่อนแรงด้านซ้าย ประเมินเพิ่ม !!
</center>

<table class="table table-bordered">
<tr>
<td>คะแนน</td>
<td>คะแนน 0</td>
<td>คะแนน 2</td>
</tr>
<tr>
<td>การกรอกตา</td>
<td>ปกติ</td>
<td>ตา ข้าง มองด้านหนึ่งตลอดเวลา</td>
</tr>
<tr>
<td>ไม่สนใจร่างกายครึ่งซีก</td>
<td>ไม่มี</td>
<td>ไม่สนใจร่างกายครึ่งซีกหรือไม่รู้ว่าเป็นแขนของตัวเอง</td>
</tr>
</table>

คะแนนรวม 2 ส่วน _______ คะแนน ( > 4 พิจารณา Thrombectomy : โรงพยาบาลระดับ 3 )

</div>

<div class="col-12"><br/></div>

<div class="col-12">
  <div class="text-sm text-warning">** โรงพยาบาล 1,2,3 อ้างอิง ตามไฟล์ สำรวจ ศักยภาพ Stroke **</div>
  <%
  list = <<LIST
1|Door to CT time .......... Min
2|Door to needle time...........min
3|Door to intervention time ............. Min
LIST

%>

<%= check_string this, 'timer', :value=>list.split("\n"),:pair=>true,:col_item=>'col-12', :col=>6 %>

</div>

  </div><!--row-->
</div><!--card body-->
</div><!--card-->
