
<% require_relative 'lib' %>
<%
  @record = record


  @record['time'] = Time.now.strftime("%Y-%m-%d %H:%M:%S")
%>
<div class="card">
<div class="card-header bg-primary text-white">
<center>Vehicle Check</center>
</div>

<div class="card-body">
  <div class="row">
   
  <%= time_string this, 'time', :label=>"", :col_item=>'col-6'%>
  <%= radio_string this, 'fuel', :value=>%w{10% 25% 50% 75% 100%}, :label=>nil ,:col_item=>'col-6'%>

  <%= check_string this, 'ready', :value=>%w{yes no}, :label=>"" ,:col_item=>'col-6'%>

  </div><!--row-->
</div><!--card body-->
</div>

</div>
