	<ul class="metismenu mm-show" id="menu" >
		<li>
			<a href="./ems_case">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title t " t="dashboard">Cases</div>
			</a>
		</li>
		
		<li>
			<a href="./index">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title t " t="dashboard">Dashboard</div>
			</a>
			
		
			
			
			
		</li>
		<li>
			<a href="./ems_kpi">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title t " t="ems_kpi">EMS KPI</div>
			</a>
		</li>

	</ul>