
<% 
require 'csv'

if request.post? 

	# content = params[:fileToUpload][:tempfile].read.split("\r\n").collect{|i| i.split(",")}
	
	csv =CSV.parse(params[:fileToUpload][:tempfile].read.force_encoding('UTF-8'), :headers => false)
	# list = []
#
	head = nil


	csv.each do |row|
		unless head

			head = row

		else
			p = {}

			head.each_with_index do |i,id|
				p[i] = row[id].force_encoding('UTF-8')
			end
			%>
			<%= p.to_s%>
			<%
			 record =  this.model.create p

		end


	end
#


else
%>

<form action="manage" method="post" enctype="multipart/form-data">
  Import CSV :
  <input type="file" name="fileToUpload" id="fileToUpload">
  <input type="submit" value="Upload Image" name="submit">
</form>

<% end %>