<form action="visits" method="post">
<%
	
	
%>
<strong>API Token</strong><br/>
<input type='text' name="token" value=""/><br/>
<strong>Records</strong><br/>
<textarea name="records" cols="50" rows="14">
[
{
"pat_hn":"10101",
"pat_hos0mainid":"10912",
"pat_hos0subid":"03061",
"visit_date":"2021-06-05",
"app_no":"App01",
"visit_note":"โรคความดันโลหิต"
},
{
"pat_cid":"19199",
"pat_hos0mainid":"10912",
"pat_hos0subid":"03061",
"visit_date":"2021-06-05",
"app_no":"App01",
"visit_note":"โรคความดันโลหิต"
}
]
</textarea><br/>
<input type='submit' value="Submit"/>
</form>

