<h1>Test Non Layout</h1>

<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">หัวข้อ 1</th>
        <th scope="col">หัวข้อ 2</th>
        <th scope="col">หัวข้อ 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ข้อมูล 1</td>
        <td>ข้อมูล 2</td>
        <td>ข้อมูล 3</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>ข้อมูล 4</td>
        <td>ข้อมูล 5</td>
        <td>ข้อมูล 6</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>ข้อมูล 7</td>
        <td>ข้อมูล 8</td>
        <td>ข้อมูล 9</td>
      </tr>
    </tbody>
  </table>
</div>
