<% 
	  redis = settings.redis	

if request.post? 


if params[:solution]
	name = params[:solution][:name]
	
	redis.sadd('esm-miot-monitor',name )
	
	redis.set("GXT|#{name}","esm-miot-monitor")
		
end



%>
<%#params.inspect %>
<META HTTP-EQUIV="Refresh" CONTENT="0;URL=index">
<% else %>
<br/>
<div class="container">
	
<div class="row">

<div class="col-12">
	<br/>
<h1>Solution Management</h1>
<br/>
</div>

<div class="col-12">

	
<form action="index" method="post">



Solution : <input type="text" name="solution[name]" id="solution_name">

<input type="submit" class="btn">
<br/>
<table class="table">
<%
	

		
	 for name in redis.smembers('esm-miot-monitor').sort
		 
		 cs = redis.get("GXT|#{name}")
		 
		 
%>
<tr>
<td>
<%=name%>
</td>

<td>
<%=cs%>
</td>

<td>
<%=link_to "Delete", "destroy?name=#{name}" %>
</td>

</tr>
<% end %>
</form>
</div>
</div>
</div>


<% end %>
