<h1 class="d-flex justify-content-between">
<%=name params[:service]%>
<span class="badge">
<input type="text" class="form-control" placeholder="Search" style="width:200px">
</span>
</h1>

<%=inline  this, :'_dashboard' %>

<a href="create" class="btn btn-success">Create</a>
<!--
<a href="migration" class="">Migration</a>
-->