@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

body {
  background-color: #0c1f2d;
  color: #C2C2C2;
  font-family: "Sarabun", sans-serif;
}

/* navbar for all */
.navbar {
  padding: 15px;
  background-color: #07263b;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
}


.title-fill {
  margin-top: 20px;
  font-size: 30px;
}

.title-sub {
  font-size: 20px;
  color: #dcdcdc;
}

.dial-num {
  margin-top: 50px;
}

.number {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background: #334351 0% 0% no-repeat padding-box;
  border: 1px solid #374c5f;
  font-size: 50px;
  font-family: "Segoe UI", sans-serif;
  margin: 10px;
}

/* .num-fill {
  background: #486178;
  border-radius: 8px;
  opacity: 1;
  border-color: transparent;
  width: 75%;
  height: 90px;
  font-size: 65px;
  color: white;
} */

.form-control {
  /* height: 90px;
  font-size: 65px; */
  color: white;
  background: #486178;
  border: none;
}
.container{
  background:#0F1D28;
  box-shadow: none;
}
body{
  background:#0F1D28;
}

.btn-dial {
   margin-top: 40px;
  background: transparent linear-gradient(180deg, #42b7ab 0%, #2f867d 100%) 0%
    0% no-repeat padding-box;
}

.btn-scan {
  font-size: 1.25rem;
  color: #dcdcdc;
  background-color: #054366;
}

.er-scan {
  font-size: 25px;
  width: max-content;
  height: 100%;
  box-shadow: 0px 3px 6px #000029;
  color: #dcdcdc;
  background-color: #054366;
}

.er-room {
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 6px #00000029;
    color: #dcdcdc;
    background-color: #334351;
    font-size: 1.5rem;
    padding-top: 1.5rem ;
    padding-bottom: 1.5rem ;
    border-radius: 0.25rem;
  }

.er-room:hover {
    transform: scale(1.1);
    background: #054366;
}


.btn-submit {
  background: transparent linear-gradient(180deg, #42b7ab 0%, #2f867d 100%) 0%
    0% no-repeat padding-box;
    width: 150px;
    height: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    border-color: #42b7ab;
}


a {
  color: inherit;
}


.hr-new {
    border: 1px solid #707070;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  

.patient-info {
  margin-top: 30px;
  background-color: #07263b;
  color: #dcdcdc;
}
  
#patient-name {
  color: #42B7AB;

}

.vital-card {
    width: 100%;
    height: 125px;
    box-shadow: 0px 3px 6px #00000029;
    color: #dcdcdc;
    background-color: #043149;
    border-radius: 0.25rem;
}

.chef-complaint {
  background: #043149;
  border-radius: 8px;
  opacity: 1;
  border-color: transparent;
  width: 100%;
  height: 90px;
  font-size: inherit;
  color: #dcdcdc;
}

.btn-triage {
  background: #043149;
  width: 120px;
  height: 36px;
}

#red:hover {
  background: #FF3C3C;
}

#yellow:hover {
  background: #FFAB2C;
}

#green:hover {
  background: #42B7AB;
}

#white:hover {
  background: #fff;
  color: #054366 !important;
}

#black:hover {
  background: #000000;
}

.card-header {
  background-color: rgb(4, 49, 73, .5));
  border-bottom: 1px solid rgba(0,0,0,.3);
}

/* Add HN page*/

.list-group-item {
  background-color: #07344b;
  border: 1px solid #446373;
}

.hr-trauma {
  border: 1px solid #446373;
  
}

.nav-pills > .active {
  background-color: #054366 !important;
}

/* Vitail Sign Check page*/

.human {
  background: transparent url('/assests/human.svg') 0% 0% no-repeat;
  background-repeat: no-repeat, repeat;
  background-position: center;
  opacity: 1;
}

#patient-vital-sign , #patient-neuro-sign {
  opacity: 0.88;
}

/* Summary Report page*/
.sum-report {
  background-color: #334351;
}

.table-vital {
  color: inherit;
}

.card-vital {
  background-color: #283540;
}