/* variables */
:root {
/*    --body-bg: #FFA;*/
  }

/*@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");*/

body { 
	

  background-image: url("/esm-miot-monitor/health/bg.jpg");
  color: var(--btn-grey-text);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Sarabun", sans-serif;
  height:100vh;
}



.title-fill {
  margin-top: 20px;
  font-size: 30px;
}

.title-sub {
  font-size: 20px;
  color: var(--text-grey);
}

.dial-num {
  margin-top: 50px;
}

.numberx {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background: var(--er-room-bg) 0% 0% no-repeat padding-box;
  border: 1px solid #374c5f;
  font-size: 50px;
  margin: 10px;
}

/* .num-fill {
  background: var(--form-bg);
  border-radius: 8px;
  opacity: 1;
  border-color: transparent;
  width: 75%;
  height: 90px;
  font-size: 65px;
  color: white;
} */

.form-control {
  /* height: 90px;
  font-size: 65px; */
  height:auto;
  color: var(--text-grey);
  background: var(--form-bg);
  border: none;
}
.container{
  background:var(--body-bg);
  box-shadow: none;
}


.btn-dial {
   margin-top: 40px;
  background: transparent linear-gradient(180deg, var(--btn-green-main) 0%, var(--btn-green-second) 100%) 0%
    0% no-repeat padding-box;
}

.btn-scan {
  font-size: 1.25rem;
  color: var(--text-grey);
  background-color: var(--er-room-hover);
}

.er-scan {
  font-size: 25px;
  width: max-content;
  height: 100%;
  box-shadow: 0px 3px 6px #000029;
  color: var(--text-grey);
  background-color: var(--er-room-hover);
}

.er-room {
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 6px #00000029;
    color: var(--text-grey);
    background-color: var(--er-room-bg);
    font-size: 1.5rem;
    padding-top: 1.5rem ;
    padding-bottom: 1.5rem ;
    border-radius: 0.25rem;
  }

.er-room:hover {
    transform: scale(1.1);
    background: var(--er-room-hover);
}


.btn-action {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    border-color: #666;
}


.btn-submit {
  background: transparent linear-gradient(180deg, var(--btn-green-main) 0%, var(--btn-green-second) 100%) 0%
    0% no-repeat padding-box;
    width: 150px;
    height: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    border-color: var(--btn-green-main);
    color: var(--text-grey);
}

 .btn-submit a:hover{
  color: white !important;
  text-decoration: none;
}

.btn-cancel a:hover{
  color: white !important;
  text-decoration: none;
}

.btn-noline a:hover{
  color: white !important;
  text-decoration: none;
}

a {
  color: inherit;
}

.admit a:hover {
  color: white !important;
  text-decoration: none;
}

.hr-new {
    border: 1px solid #707070;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  

.patient-info {
  margin-top: 30px;
/*  background-color: #07263b;*/
  color: var(--text-grey);
}
  
#patient-name {
  color: var(--btn-green-main);

}

.vital-card {
    width: 100%;
    height: 125px;
	padding:5px;
    box-shadow: 0px 3px 6px #00000029;
    color: var(--text-grey);
/*    background-color: #043149;*/
    border-radius: 0.25rem;
}

.chief-complaint {
  background: #EEE;
  border-radius: 8px;
  opacity: 1;
  border-color: transparent;
  width: 100%;
  height: 90px;
  font-size: inherit;
  color: var(--text-grey);
}

.btn-triage {
  background: #EEE;
  width: 100%;
  height: 80%;
}

.btn-triage-red.active{
  background: #FF3C3C;
}


.btn-triage-yellow.active{
  background: #FFAB2C;
}

.btn-triage-green.active{
  background: var(--btn-green-main);
}

.btn-triage-white.active{
  background: #fff;
}

.btn-triage-black.active{
  background: #000000;
}


#red:hover {
  background: #FF3C3C;
}

#yellow:hover {
  background: #FFAB2C;
}

#green:hover {
  background: var(--btn-green-main);
}

#white:hover {
  background: #fff;
  color: var(--er-room-hover) !important;
}

#black:hover {
  background: #000000;
}

.card-header {
  background-color: rgb(4, 49, 73, .5);
  border-bottom: 1px solid rgba(0,0,0,.3);
}

/* Add HN page*/

.list-group-item {
  background-color: #EEE;
  color:#333;
  border: 1px solid #446373;
}

.hr-trauma {
  border: 1px solid #446373;
  
}

.nav-pills > .active {
  background-color: var(--er-room-hover) !important;
}

/* Vitail Sign Check page*/

/*.human {
  background: transparent url('/assests/human.svg') 0% 0% no-repeat;
  background-repeat: no-repeat, repeat;
  background-position: center;
  opacity: 1;
}*/

#patient-vital-sign , #patient-neuro-sign {
  opacity: 0.88;
}

/* Summary Report page*/
.sum-report {
  background-color: var(--er-room-bg);
    color: var(--text-grey);
}

.table-vital {
  color: inherit;
}

.card-vital {
/*  background-color: #283540;*/
}









.d-hn{
    background: var(--btn-lightblue-main);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--btn-lightblue-second), var(--btn-lightblue-main));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--btn-lightblue-second), var(--btn-lightblue-main)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    margin: 10px 20px 20px 20px;
    padding-top:20px;
}
.head-hn{
    font-size: 2.4em;
    margin-left: 20px;
    color:#00517F;
}
.display-hn-pad{
    border-radius: 20px;
    height:100px;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    background: var(--btn-lightblue-main);
    background: -webkit-linear-gradient(to top, var(--btn-lightblue-second), var(--btn-lightblue-main));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, var(--btn-lightblue-second), var(--btn-lightblue-main)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#00517F;
    margin: 0px 20px 5px 20px;
}
.btn-hn{
    background-color: #6B98C1;
    color:#ffffff;
    border-radius: 100px;
    height:80px;
    width:80px;
    text-align: center;
    font-size: 2.4em;
    padding-top:10px;
    margin:5px;
}
.btn-hn:hover{
    background-color: #00517F;
}
.btn-opd{
    background: var(--btn-green-main);  
    background: -webkit-linear-gradient(to bottom, var(--btn-green-main), var(--btn-green-second));  
    background: linear-gradient(to bottom, var(--btn-green-main), var(--btn-green-second)); 
    padding:10px 60px 10px 60px;
/*    margin:20px;*/
/*    font-size: 1.8em;*/
    border-radius: 12px;
}
.btn-result-cancle{
    font-size: 1.8em;
    color:var(--btn-grey-second) !important;
}
.btn-entry{
    background: var(--btn-grey-main);  
    background: -webkit-linear-gradient(to bottom, var(--btn-grey-main), var(--btn-grey-second));  
    background: linear-gradient(to bottom, var(--btn-grey-main), var(--btn-grey-second)); 
    padding:10px 60px 10px 60px;
    margin:20px;
    font-size: 1.8em;
    border-radius: 12px;
    color: var(--btn-grey-text);
}
.p-name{
    text-align: center;
    vertical-align: middle;
    color:#00517F;
    font-size: 1.8em;
    font-weight: bold;
}
.p-date{
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    color:#6B98C1;
    padding-bottom: 20px;
}
.head-select{
    color:#00517F;
    font-weight: bold;
    margin:50px;
}
.btn-suggest{
    text-align: center;
    vertical-align: middle;
    color:var(--btn-green-main);
    border: 1px solid var(--btn-green-main); 
    border-radius: 10px;
    margin:50px;
    padding:20px;
}
.btn-select{
    text-align: center;
    vertical-align: middle;
    color:var(--btn-grey-main);
    border: 1px solid var(--btn-grey-main); 
    border-radius: 10px;
    margin:50px;
    padding:20px;
    
}
.badge-score{
    padding:5px 20px 5px 20px;
}
.d-entry{
    padding:20px;
    margin:10px;
    color:#4D4D4D;
    border-radius: 10px;

}
.d-entry-dark{
    /*background-color: #374C5F;*/
    color:var(--text-grey);
    border-radius: 10px;
    padding:20px;
    margin:10px;

}
.dk-active{
    background-color: #374C5F;
    -webkit-box-shadow: 0px 0px 5px 1px var(--btn-green-main);
    -moz-box-shadow: 0px 0px 5px 1px var(--btn-green-main);
    box-shadow: 0px 0px 5px 1px var(--btn-green-main);    
}
.dk-empty{
    background-color: var(--text-grey);
    color:var(--btn-grey-main);
}
.de-active{
    -webkit-box-shadow: 0px 0px 5px 1px var(--btn-green-main);
    -moz-box-shadow: 0px 0px 5px 1px var(--btn-green-main);
    box-shadow: 0px 0px 5px 1px var(--btn-green-main);    
}
.de-empty{
    /*background-color: var(--text-grey);*/
    color:var(--btn-grey-main);
}

.l-entry{
    font-size: 1.4em;
}
.v-entry{
    font-size: 3.5em;
    color:var(--btn-green-main);
}
.n-entry{
  font-size: 3.5em;
  color:var(--btn-green-main);
}
.v-under{
    border-bottom: 1px solid #4D4D4D;
}
.d-result{
    background: var(--btn-lightblue-main);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--btn-lightblue-second), var(--btn-lightblue-main));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--btn-lightblue-second), var(--btn-lightblue-main)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    font-size: 1.4em;
    height: 250px !important; 
    overflow-y: auto !important;
    width: 100%;
 
}
.r-first{
    color:var(--main-white-color);
}
.d-log{
    background: var(--btn-lightblue-main);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--btn-lightblue-second), var(--btn-lightblue-main));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--btn-lightblue-second), var(--btn-lightblue-main)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    font-size: 1.4em;
    height: 600px !important; 
    overflow-y: auto !important;
    width: 100%;
 
}


.admit{
	
	padding:10px;

	border:0px solid var(--btn-grey-text);
	
	
}
.admit-content{
	
	border-radius: 10px;
	border:0px solid #aaa;
	padding:10px;
    background-color: var(--er-room-bg);
    
}

.level-content{
  border:1px solid #aaa;
  border-radius: 3px;
	width:50px;
	height:20px;
	
}

.level-content.red{
	background:#FF3C3C;
}

.level-content.yellow{
	background:#FFAB2C;
}
.level-content.green{
	background:var(--btn-green-main);
}
.level-content.white{
	background:#fff;
}
.level-content.black{
	background:#000000;
}

.btn-triage-red.active{
  background: #FF3C3C;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}

.station .pr{color:#00b3b7;

}

.station .hr{color:#01bf02;

}

.station .bp{color:#5990b7;;

}

.station .spo2{color:#00b3b7;

}

.station .temp{color:#2F50E2;

}

.station .rr{color:#b7851d;

}

/*print summary ER*/
.summary-container {
  font-family: "Sarabun", sans-serif;
}

.table-title {
  font-size: small;
}
.table-style {
  font-size: small;
  border: 1px solid var(--btn-grey-second);
}

.table-none{
  background: var(--btn-grey-second) ;
}

.paitent-sum {
  width: 350px;
}

.text-rotate {
  transform: rotate(270deg);
}


@media print {
  @page {
    margin: 0cm;
    margin-left: 1cm;
    size: A4; 
  }
  .noprint{
    display: none;
  }
  .new-page{
    /* page-break-before: always; */
    page-break-after: always;
  }
  .avoidnew{
    page-break-after: avoid;
  }
}

/*Patient Admit Form*/
.admit-form {
  background-color: var(--body-bg);
  color: var(--text-grey);
  border: 1px solid var(--er-room-hover);
}

#patient-image {
  border-radius: 50%;
}

.btn-outline-cancel{
    width: 150px;
    height: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    border-color: var(--text-grey);
    color: var(--text-grey);

}

/*Dashboard*/
.dashboard-head {
  background-color: #283540;
}

.dashboard-table {
  background-color: var(--er-room-bg);
}

.card-info {
  border: 1px solid #374C5F;
  border-radius: 0.25rem;
  width: 300px;
  height: 200px;
  padding: 0.5rem;
  background: var(--er-room-bg);
}

.card-num {
    font-size: 6rem;
    color: var(--btn-green-main);
}

.room-card {
  border: 1px solid #374C5F;
  border-radius: 0.25rem;
  width: 640px;
  height: 440px;
  padding: 0.5rem;
  background: var(--er-room-bg)
}

.board-card {
  border: 1px solid #374C5F;
  border-radius: 0.25rem;
  width: 45vh;
  height: 25.5vh;
  background: #2D3748;
}

.board-header {
  background-color: #2D3748;
  border-bottom: 1px solid rgba(0,0,0,.3);
  padding: .75rem 1.25rem;
}

.bg-vital {
  background-color: var(--body-bg);
  border: 1px solid var(--form-bg)
}

.font-vital {
  font-size: 1.8em;
}

.font-score {
  font-size: 3em;
}
.nlist {
  border: 1px solid var(--normal-text);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.nlist:hover{
  border: 1px solid var(--btn-green-second);
  color:var(--btn-green-second);
}
.nlist-sel{
  border: 1px solid var(--btn-green-main);
  color:var(--btn-green-main);
}
.nitem{
  text-align: left;
}
th{
	background-color: #00598B;
	color:#eee;
}
.table-network th{
  background: #3D145A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3D145A, #5F1C78);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3D145A, #5F1C78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:#eee;
}
