@font-face {
    font-family: THSarabun;
    src: url(THSarabun_Bold_0.ttf);
}
body{
    font-family: THSarabun;
}
div {
    font-family: THSarabun;
}
.d-hn{
    background: #BCD1E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E2E2E2, #BCD1E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E2E2E2, #BCD1E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    margin: 10px 20px 20px 20px;
    padding-top:20px;
}
.head-hn{
    font-size: 2.4em;
    margin-left: 20px;
    color:#00517F;
}
.display-hn{
    border-radius: 20px;
    height:100px;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    background: #BCD1E4;
    background: -webkit-linear-gradient(to top, #E2E2E2, #BCD1E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E2E2E2, #BCD1E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#00517F;
    margin: 0px 20px 5px 20px;
}
.btn-hn{
    background-color: #6B98C1;
    color:#ffffff;
    border-radius: 100px;
    height:80px;
    width:80px;
    text-align: center;
    font-size: 2.4em;
    padding-top:10px;
    margin:5px;
}
.btn-hn:hover{
    background-color: #00517F;
}
.btn-opd{
    background: #42B7AB;  
    background: -webkit-linear-gradient(to bottom, #42B7AB, #2F867D);  
    background: linear-gradient(to bottom, #42B7AB, #2F867D); 
    padding:10px 60px 10px 60px;
    margin:20px;
    font-size: 1.8em;
    border-radius: 12px;
}
.btn-result-cancle{
    font-size: 1.8em;
    color:#BBB !important;
}
.btn-entry{
    background: #919191;  
    background: -webkit-linear-gradient(to bottom, #919191, #BBB);  
    background: linear-gradient(to bottom, #919191, #BBB); 
    padding:10px 60px 10px 60px;
    margin:20px;
    font-size: 1.8em;
    border-radius: 12px;
    color: #CCC;
}
.p-name{
    text-align: center;
    vertical-align: middle;
    color:#00517F;
    font-size: 1.8em;
    font-weight: bold;
}
.p-date{
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    color:#6B98C1;
    padding-bottom: 20px;
}
.head-select{
    color:#00517F;
    font-weight: bold;
    margin:50px;
}
.btn-suggest{
    text-align: center;
    vertical-align: middle;
    color:#42B7AB;
    border: 1px solid #42B7AB; 
    border-radius: 10px;
    margin:50px;
    padding:20px;
}
.btn-select{
    text-align: center;
    vertical-align: middle;
    color:#919191;
    border: 1px solid #919191; 
    border-radius: 10px;
    margin:50px;
    padding:20px;
    
}
.badge-score{
    padding:5px 20px 5px 20px;
}
.d-entry{
    padding:20px;
    margin:10px;
    color:#4D4D4D;
    border-radius: 10px;

}
.d-entry-dark{
    /*background-color: #374C5F;*/
    color:#DCDCDC;
    border-radius: 10px;
    padding:20px;
    margin:10px;

}
.dk-active{
    background-color: #374C5F;
    -webkit-box-shadow: 0px 0px 5px 1px #42B7AB;
    -moz-box-shadow: 0px 0px 5px 1px #42B7AB;
    box-shadow: 0px 0px 5px 1px #42B7AB;    
}
.dk-empty{
    background-color: #DCDCDC;
    color:#919191;
}
.de-active{
    -webkit-box-shadow: 0px 0px 5px 1px #42B7AB;
    -moz-box-shadow: 0px 0px 5px 1px #42B7AB;
    box-shadow: 0px 0px 5px 1px #42B7AB;    
}
.de-empty{
    /*background-color: #DCDCDC;*/
    color:#919191;
}

.l-entry{
    font-size: 1.4em;
}
.v-entry{
    font-size: 3em;
    color:#42B7AB;
}
.v-under{
    border-bottom: 1px solid #4D4D4D;
}
.d-result{
    background: #BCD1E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E2E2E2, #BCD1E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E2E2E2, #BCD1E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    font-size: 1.4em;
    height: 250px !important; 
    overflow-y: auto !important;
    width: 100%;
 
}
.r-first{
    color:white;
}
.d-log{
    background: #BCD1E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E2E2E2, #BCD1E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E2E2E2, #BCD1E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    font-size: 1.4em;
    height: 600px !important; 
    overflow-y: auto !important;
    width: 100%;
 
}

