<h5>Message</h5>
<%
	
admit = Admit.find params[:id] 	
station = Station.find admit.station_id
	
%>

<div id="message-partial" style="overflow:auto">
</div>

<br/>
<div style="float:right" >
	
<%#link_to "+Medication", '#', :id=>'medication_add',:class=>'link link-info'%>

</div>

<script>
	
	// function create_medication(event){
// 		event.preventDefault();
//
// 		$.get( "medication_create?admit_id=<%=params[:id]%>",function(data,status){
// 		  $('.modal-content').html(data);
// 		});
//
//   	  	$('#admit-modal').modal({
//   	    	backdrop: 'static',
//   	    	keyboard: false
//   	 	})
//
// 	}
//
// 	function edit_medication(event){
// 		event.preventDefault();
//
// 		id = $(this).attr('id')
//
// 		$.get( "medication_edit?admit_id=<%=params[:id]%>&id="+id,function(data,status){
// 		  $('.modal-content').html(data);
// 		});
//
//   	  	$('#admit-modal').modal({
//   	    	backdrop: 'static',
//   	    	keyboard: false
//   	 	})
// 	}
//
	function reload_message(){
	
	$.ajax({
	  url: "message_partial?id=<%=station.id%>",
	  context: document.body
	}).done(function(data) {
	  $( '#message-partial' ).html(data);
	});
	
	}
	
	// $('#medication_add').click(create_medication);
	
	reload_message();
	
	
</script>
