<%
	
admit = Admit.find(params[:admit_id])

records = admit.nurse_records.sort(:start_time)
	
%>
<table class="table table-striped" style="border:0px solid #0c5758">
<thead>
	<tr>
		<th>Time</th>
		<th>Note</th>
	</tr>
</thead>
<tbody>
	<% for i in records %>
	<tr>
		<td><%=link_to i.start_time.localtime().strftime("%H:%M:%S"), '#', :id=>"#{i.id}" %>
			
		
		
		</td>
		
		<td><%=i.description%></td>
	</tr>
	<% end %>
	<!-- <tr>
		<td>10:00</td><td>ทดสอบข้อมูล asdf jaijsd fjais<br/> djf asdf asdfasdf</td>
	</tr>

	<tr>
		<td>16:00</td><td>ทดสอบข้อมูล</td>
	</tr>
	<tr>
		<td>17:00</td><td>SOS score : 8 </td>
	</tr> -->
</tbody>
</table>
			<script>
				$(document).ready(function(){
					
				<% for i in records %>
					$('#<%=i.id%>').click(edit_nurse_note);
				<% end %>
				
			})
			</script>