<h5>Flowsheet</h5>



<div id="record-partial" style="overflow:auto">
</div>
<div style="float:right" >
	
<%=link_to "+Record", '#', :id=>'record_add',:class=>'link link-info'%>

</div>

<script>
	
	function create_record(event){
		event.preventDefault();
		
		$.get( "record_create?admit_id=<%=params[:id]%>",function(data,status){
		  $('.modal-content').html(data);
		});
		
  	  	$('#admit-modal').modal({
  	    	backdrop: 'static',
  	    	keyboard: false
  	 	})
	
	}
	
	function edit_record(event){
		event.preventDefault();
		
		id = $(this).attr('id')

		$.get( "record_edit?admit_id=<%=params[:id]%>&id="+id,function(data,status){
		  $('.modal-content').html(data);
		});
		
  	  	$('#admit-modal').modal({
  	    	backdrop: 'static',
  	    	keyboard: false
  	 	})
	}
	
	function reload_data(){
	
	$.ajax({
	  url: "record_partial?admit_id=<%=params[:id]%>",
	  context: document.body
	}).done(function(data) {
	  $( '#record-partial' ).html(data);
	});
	
	}
	
	$('#record_add').click(create_record);
	
	reload_data();
	
	
</script>
