<%
	
  name = 'out.mp4'
  name = params[:id] if params[:id]

%>

<div id='player'>
<video width="100%"  src="http://192.168.2.134:8080/content/<%=name%>/index.m3u8" controls autoplay>
<source src="http://192.168.2.134:8080/content/<%=name%>/index.webm" type="video/webm">    
</video>
</div>
