
<h2>แก้รายการ Commander</h2>
		
		
<% 

ems_command = EMSCommand.find params[:id]
ems_case  = EMSCase.find ems_command.case_id
ems_command.destroy
%>

<META HTTP-EQUIV="Refresh" CONTENT="1;URL=show?id=<%=ems_case.id%>">

