<%
    if params[:id]
    flows = []
    if params[:id]!='all'
        flow = EMSKWorkflow.find params[:id]
        processs = EMSKProcess.where(:kworkflow_id=>params[:id]).all()
        actions = EMSKAction.where(:kworkflow_id=>params[:id]).all()
        processs.each_with_index{|p,index|
            as = actions.collect{|i| i if i.kprocess_id==p.id}.compact
            processs[index][:action]=as if as.size>0
        }
        flow[:process] = processs
        flows << flow
    else
        fs = EMSKWorkflow.all()
        ps = EMSKProcess.all()
        as = EMSKAction.all()
        for f in fs
            processs = ps.collect{|i| i if i.kworkflow_id==f.id}.compact
            processs.each_with_index{|p,index|
                acs = as.collect{|i| i if i.kprocess_id==p.id}.compact
                processs[index][:action]=acs if acs.size>0
            }
            f[:process] = processs
            flows << f
        end # for f
    end
%>
<div class="col-12">
<textarea class="form-control" id="inputAddress" placeholder="JSON..." rows="20">
<%=flows.to_json%>
</textarea>
<a href="javascript:copyLink()" class="btn btn-primary px-5">Copy</a>
</div>

<script>
function copyLink() {
    navigator.clipboard.writeText($("#inputAddress").val());
    alert("Copied Success ")
}
</script>
<%  end #if param[:id]%>