<h5>Import Workflow</h5>
<hr>
<%
if request.post? 
    wf_input = JSON.parse(params[:wf].strip).with_indifferent_access
    p_input = wf_input[:process]
    %><%#=p_input.inspect%><%
    for p in p_input
        a_input = p[:action]
        EMSKProcess.create p.except(:action)
        %><%#=a_input.inspect%><%
        for a in a_input
            EMSKAction.create a
        end
    end

    wf = EMSKWorkflow.create wf_input.except(:process)

    %>Import sucess!<%#=wf.inspect%><%

end
%>
<form method="POST">
<label for="inputAddress" class="form-label">JSON code</label>
<textarea name="wf" class="form-control" id="inputAddress" placeholder="JSON..." rows="10">
<%=params[:wf] %>
</textarea>
<button type="submit" class="btn btn-primary px-5">Submit</button>
</form>

