
<html>
<head>
	<script src="/js/jquery-1.9.1.min.js"></script>
	<link href='/css/opd.css' rel='stylesheet' />
	
</head>
<body>
<!-- <img src="/img/logo.png" width="100"> -->

<%=yield%>

</body>
</html>