<div class="col" style="width:300px;margin:0px;padding:0px">
    <div class="row">
    <div class="col-12">


<br/><br/><br/><br/>
<center>
<h1>ส่งข้อมูลสำเร็จ</h1>
</center>
 <center><a href="/"><label>ยกเลิก</label></a></center>

<style>
	label{
		font-size:2em;
	}
	</style>
	
	<META HTTP-EQUIV="Refresh" CONTENT="2;URL=/">
		
	</div>
</div>
</div>