	<%

		current_zone = Zone.find session[:current_zone]

	    rooms = Room.where(:zone_id=>current_zone).all
	%>

	<ul class="metismenu mm-show" id="menu" >
		<li>
			<a href="./index">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title t " t="dashboard">Dashboard</div>
			</a>
		</li>
			<li>
			<a href="./list">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title t " t="dashboard">Registration</div>
			</a>
		</li>
	
		<li >
					<a href="javascript:;" class="has-arrow" aria-expanded="false">
						<div class="parent-icon"><i class="bx bx-check-circle"></i>
						</div>
						<div class="menu-title">Room</div>
					</a>
					<ul class="" style="">
					<%


					
					%>
						<% for i in rooms %>
						<li> <a href="room?id=<%=i.id%>"><i class="bx bx-right-arrow-alt"></i><%= i.title %></a>
						</li>
						<% end %>

					</ul>
				</li>

		<li>
			<a href="./patients">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title t " t="dashboard">Patients</div>
			</a>
		</li>

		
	</ul>

		
	