<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_dark.css')%>" rel="stylesheet">
<link href="<%=url_for('css/er.css?=22')%>" rel="stylesheet">
    <!--Content-->
    <section>
        <div class="container">
            <!--patient card-->
            <div class="card patient-info">
                <div class="card-body d-flex align-items-center">
                    <div class="col">
                        <h6 class="font-weight-bold" id="patient-name">นายธนารัฐ พิพิธยการ</h6>
                        <span class="col p-0 " id="HN">HN: 58749-61</span>
                        <span class="col p-0 mr-3" id="age">อายุ: 57 ปี</span>
                        <span class="col p-0" id="gender">เพศ: ชาย</span>
                    </div>
                    <div class="col text-right">
                        <h6 class="" id="arrival-time">Arrival:
                            <span>09:59 AM</span>
                        </h6>
                        <span id="duration">Duration:
                            <span>00:35 HR</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--end of patient card-->
            <!--case report form-->
            <h4 class="font-weight-bold mt-4">Case Report Form</h4>
            <!--vital sign-->
            <p class="font-weight-bold mt-3" style="color: #42B7AB;">Vital Sign</p>
            <div class="row justify-content-between mb-2">
                <div class="col-sm mb-2">
                    <a href="#" class="btn vital-card text-left">
                        <p>Blood Pressure</p>
                    </a>
                </div>
                <div class="col-sm mb-2">
                    <a href="#" class="btn vital-card text-left">
                        <p>Pulse / SpO2</p>
                    </a>
                </div>
                <div class="col-sm mb-2">
                    <a href="#" class="btn vital-card text-left">
                        <p>Body Temp</p>
                    </a>
                </div>
                <div class="col-sm mb-2">
                    <a href="#" class="btn vital-card text-left">
                        <p>Respiratory Rate</p>
                    </a>
                </div>
            </div>
            <!--end of vital sign-->
            <!--neuro sign-->
            <p class="font-weight-bold mt-3" style="color: #42B7AB;">Neuro Sign</p>
            <div class="row justify-content-between mb-2">
                <div class="col-sm mb-2">
                    <a href="#" class="btn vital-card text-left">
                        <p>Eye Opening</p>
                    </a>
                </div>
                <div class="col-sm mb-2">
                    <a href="#" class="btn vital-card text-left">
                        <p>Motor Response</p>
                    </a>
                </div>
                <div class="col-sm mb-2 ">
                    <a href="#" class="btn vital-card text-left">
                        <p>Verbal Response</p>
                    </a>
                </div>
                <div class="col-sm mb-2 ">
                    <a href="#" class="btn vital-card text-left">
                        <p>Pupil</p>
                    </a>
                </div>
            </div>
            <!--end of neuro sign-->
           
            <p class="font-weight-bold mt-3" style="color: #42B7AB;">Chef Complaint</p>
            <textarea class="chef-complaint"></textarea>
            <!--er triage-->
            <p class="font-weight-bold mt-3" style="color: #42B7AB;">ระบบการคัดแยก (ER Triage)</p>
            <div class="row justify-content-between text-center mb-2">
                <div class="col-sm pl-0 mb-2 ">
                    <a href="#" class="btn btn-triage" id="red">
                        <p>แดง</p>
                    </a>
                </div>
                <div class="col-sm pl-0 mb-2">
                    <a href="#" class="btn btn-triage " id="yellow">
                        <p>เหลือง</p>
                    </a>
                </div>
                <div class="col-sm pl-0 mb-2">
                    <a href="#" class="btn btn-triage" id="green">
                        <p>เขียว</p>
                    </a>
                </div>
                <div class="col-sm pl-0 mb-2">
                    <a href="#" class="btn btn-triage" id="white">
                        <p>ขาว</p>
                    </a>
                </div>
                <div class="col-sm pl-0 mb-2">
                    <a href="#" class="btn btn-triage" id="black">
                        <p>ดำ</p>
                    </a>
                </div>
            </div>
            <!--end of er triage-->
            <!--trauma choice-->
            <div class="card patient-info">
                <div class="card-header">
                    <nav class="nav nav-pills flex-column flex-sm-row" id="pills-tab" role="tablist">
                        <a class="flex-sm-fill text-sm-center nav-link active" id="pills-trauma-tab" data-toggle="pill"
                            href="#pills-trauma" role="tab" aria-controls="pills-trauma" aria-selected="true">Trauma</a>
                        <a class="flex-sm-fill text-sm-center nav-link" id="pills-nontrauma-tab" data-toggle="pill"
                            href="#pills-nontrauma" role="tab" aria-controls="pills-nontrauma"
                            aria-selected="false">Non-Trauma</a>
                </div>

                <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-trauma" role="tabpanel"
                            aria-labelledby="pills-trauma-tab" style="width: 100%;">
                            <div class="row no-gutters mt-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">ความรู้สึกตัว</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #093A54; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">รู้สึกตัวดี</li>
                                            <li class="list-group-item">ซึม</li>
                                            <li class="list-group-item">หมดสติปลุกตื่น</li>
                                            <li class="list-group-item">หมดสติปลุกไม่ตื่น</li>
                                            <li class="list-group-item">เอะอะโวยวาย</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-trauma">
                            <div class="row no-gutters mt-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">บาดแผล</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #054366; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">No</li>
                                            <li class="list-group-item">Cut/Laceration</li>
                                            <li class="list-group-item">Abrasion</li>
                                            <li class="list-group-item">Contusion</li>
                                            <li class="list-group-item">Burn</li>
                                            <li class="list-group-item">Stab Wound</li>
                                            <li class="list-group-item">Amputate</li>
                                            <li class="list-group-item">Gun Shot</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-trauma">
                            <div class="row no-gutters mt-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">กระดูกผิดรูป</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #054366; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">No</li>
                                            <li class="list-group-item">Closed</li>
                                            <li class="list-group-item">Opened</li>
                                            <li class="list-group-item">Dislocate</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-trauma">
                            <div class="row no-gutters mt-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">การเสียเลือด</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #054366; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">No</li>
                                            <li class="list-group-item">Cut/Laceration</li>
                                            <li class="list-group-item">Abrasion</li>
                                            <li class="list-group-item">Contusion</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-trauma">
                            <div class="row no-gutters mt-3 mb-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">อวัยวะ</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #054366; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Head/Neck</li>
                                            <li class="list-group-item">Face</li>
                                            <li class="list-group-item">Spine/Back</li>
                                            <li class="list-group-item">Chest/Clavicle</li>
                                            <li class="list-group-item">Abdomen</li>
                                            <li class="list-group-item">Pelvis</li>
                                            <li class="list-group-item">Extremities</li>
                                            <li class="list-group-item">External Body Surface</li>
                                            <li class="list-group-item">Multiple Injury Back</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="tab-pane fade" id="pills-nontrauma" role="tabpanel"
                            aria-labelledby="v-pills-nontrauma-tab" style="width: 100%;">

                            <div class="row no-gutters mt-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">อายุรกรรม</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #093A54; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Dyspnea</li>
                                            <li class="list-group-item">High Fever</li>
                                            <li class="list-group-item">Ulteration of Conscious</li>
                                            <li class="list-group-item">Seizure</li>
                                            <li class="list-group-item">Chest Pain</li>
                                            <li class="list-group-item">Poisoning</li>
                                            <li class="list-group-item">Digestive</li>
                                            <li class="list-group-item">Other (ระบุ)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-trauma">
                            <div class="row no-gutters mt-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">บาดแผล</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #054366; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">No</li>
                                            <li class="list-group-item">Cut/Laceration</li>
                                            <li class="list-group-item">Abrasion</li>
                                            <li class="list-group-item">Contusion</li>
                                            <li class="list-group-item">Burn</li>
                                            <li class="list-group-item">Stab Wound</li>
                                            <li class="list-group-item">Amputate</li>
                                            <li class="list-group-item">Gun Shot</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-trauma">
                            <div class="row no-gutters mt-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">บาดแผล</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #054366; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">No</li>
                                            <li class="list-group-item">Cut/Laceration</li>
                                            <li class="list-group-item">Abrasion</li>
                                            <li class="list-group-item">Contusion</li>
                                            <li class="list-group-item">Burn</li>
                                            <li class="list-group-item">Stab Wound</li>
                                            <li class="list-group-item">Amputate</li>
                                            <li class="list-group-item">Gun Shot</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-trauma">
                            <div class="row no-gutters mt-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">บาดแผล</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #054366; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">No</li>
                                            <li class="list-group-item">Cut/Laceration</li>
                                            <li class="list-group-item">Abrasion</li>
                                            <li class="list-group-item">Contusion</li>
                                            <li class="list-group-item">Burn</li>
                                            <li class="list-group-item">Stab Wound</li>
                                            <li class="list-group-item">Amputate</li>
                                            <li class="list-group-item">Gun Shot</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-trauma">
                            <div class="row no-gutters mt-3">
                                <div class="col-sm d-flex align-items-center justify-content-center">
                                    <h5 class="">บาดแผล</h5>

                                </div>
                                <div class="col-sm">
                                    <div class="card m-3"
                                        style="color: #dcdcdc; background-color: #054366; ">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">No</li>
                                            <li class="list-group-item">Cut/Laceration</li>
                                            <li class="list-group-item">Abrasion</li>
                                            <li class="list-group-item">Contusion</li>
                                            <li class="list-group-item">Burn</li>
                                            <li class="list-group-item">Stab Wound</li>
                                            <li class="list-group-item">Amputate</li>
                                            <li class="list-group-item">Gun Shot</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                  


                </div>


            </div>
            <div class="d-flex justify-content-center mt-5">
                <a href="index"
                    class="btn btn-primary btn-submit d-flex align-items-center justify-content-center">
                    ยืนยัน
                </a>

            </div>
            <br>
            <a href="index" class="d-flex justify-content-center">
                <p>ยกเลิก</p>
            </a>
        </div>
        <!--end of trauma choice-->

        <!-- end of case report form-->

        </div>
    </section>
