<%
    record = nil

    if request.post?
        # สร้าง transaction เพื่อให้แน่ใจว่าข้อมูลทั้งหมดถูกบันทึกพร้อมกัน
            # สร้าง ERCase record
            if params[:visit_date]
                params[:record][:date] = params[:visit_date] + "T" + params[:visit_time]
            end

            record = ERCase.create params[:record]
            
            if record
                # สร้างความสัมพันธ์กับ Patient
                patient = Patient.find_or_create_by(
                    hn: params[:patient][:hn],
                    # เพิ่มข้อมูล patient ตามที่ต้องการ เช่น
                    first_name: params[:patient][:first_name],
                    last_name: params[:patient][:last_name],
                    nationality: params[:patient][:nationality],
                    dob: params[:patient][:dob],
                    gender: params[:patient][:gender]
                )
                
                # สร้าง Admit record และเชื่อมความสัมพันธ์
                admit = Admit.create(
                    patient_id: patient.id,
       
                    station_id: params[:admit][:station_id],
               
                    admit_stamp: Time.now,
                    status: 'Admitted',
                    zone_id: session[:current_zone]
                )

                

                record.update(:patient_id=>patient.id, :admit_id=>admit.id, :patient_name=>patient.to_s, :patient_gender=>patient.gender, :patient_age=>patient.age, :patient_birth_date=>patient.dob, :patient_nationality=>patient.nationality)
                
                %>
                <meta http-equiv="refresh" content="0; url=list" />
                <%
                ERCase.notify @context, :zone_id=>admit.zone_id
            end
        
    else
        record = ERCase.new 
        record.date = Time.now
        patient = Patient.new
        record.status = 'New'
        counter = ERCase.where(:date=>{"$gte"=>Time.now.beginning_of_month, "$lt"=>Time.now.end_of_month}).count
        record.case_no = "ER#{Time.now.strftime("%y%m")}" + (counter+1).to_s.rjust(4, '0')
    end

%>
<div class="card">
    <div class="card-body">
    <h2 class="">ER Case Create</h2>
    <form action="create" method="POST">
     
<% fieldset(:record) do |f| %>

    <%= inline(this,'forms/_form_regis', :this=>this, :f=>f, :record=>record, :patient=>patient)  %>

<% end %>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary mt-4">Submit Case</button>
    </div>
    </form>
    </div>
</div>
