<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_dark.css')%>" rel="stylesheet">
<link href="<%=url_for('css/er.css?=22')%>" rel="stylesheet">
    <!--Content-->
    <section>
        <div class="container">
                <header class=" d-flex align-items-center title-fill">
                    <div class="col">
                        <p class="mb-0"><strong>ER ZONE</strong></p>
                        <small>Observation Room</small>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button class=" btn  er-scan">
                            <img src="<%=url_for('img/svg/scan.svg')%>" alt="scan" class="p-1" />
                            Scan
                        </button>
                    </div>
                </header>
                <br>
                <!--er room-->
                <section id="er-room">
                    <div class="container-fluid">
                        <div class="row justify-content-between mb-2">
                            <div class="col-sm mb-2 ">
                                <a href="./connect" class="btn er-room">
                                    <span>
                                        <i class="fas fa-bed pr-2"></i>
                                    </span>
                                    ER-001
                                </a>
                            </div>
                            <div class="col-sm mb-2">
                                <a href="#" class="btn er-room">
                                    <i class="fas fa-bed pr-2"></i>
                                    ER-002
                                </a>
                            </div>
                            <div class="col-sm mb-2">
                                <a href="#" class="btn er-room">
                                    <i class="fas fa-bed pr-2"></i>
                                    ER-003
                                </a>
                            </div>

                        </div>
                        <div class="row justify-content-between mb-2">
                            <div class="col-sm mb-2">
                                <a href="#" class="btn er-room">
                                    <span >
                                        <i class="fas fa-bed pr-2"></i>
                                    </span>
                                    ER-004
                                </a>
                            </div>
                            <div class="col-sm mb-2">
                                <a href="#" class="btn er-room">
                                    <i class="fas fa-bed pr-2"></i>
                                    ER-005
                                </a>
                            </div>
                            <div class="col-sm mb-2">
                                <a href="#" class="btn er-room">
                                    <i class="fas fa-bed pr-2"></i>
                                    ER-006
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-between mb-2">
                            <div class="col-sm mb-2">
                                <a href="#" class="btn er-room">
                                    <span>
                                        <i class="fas fa-bed pr-2"></i>
                                    </span>

                                    ER-007
                                </a>
                            </div>
                            <div class="col-sm mb-2">
                                <a href="#" class="btn er-room">
                                    <i class="fas fa-bed pr-2"></i>
                                    ER-008
                                </a>
                            </div>
                            <div class="col-sm mb-2">
                                <a href="#" class="btn er-room">
                                    <i class="fas fa-bed pr-2"></i>
                                    ER-009
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <!--end of er-room--> 
                <hr class="hr-new">
            </div>
           
            <div class="container d-flex justify-content-center">
                <a href="./create" class="btn btn-primary btn-submit d-flex align-items-center justify-content-center">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                      </svg>
                    <span class="pl-2 pb-0">เพิ่มใหม่</span>
                </a>
            </div>
        </div>
    </section>
