<%
		
@current_zone = Zone.first
@current_zone = Zone.find session[:current_zone] if session[:current_zone]
@current_zone = nil if @current_zone and @current_zone.mode!='aoc'
 unless @current_zone
	 @current_zone = Zone.where(:mode=>'aoc').first
	 session[:current_zone] = @current_zone.id
end

		
	ambulances = Ambulance.where(:zone_id=>@current_zone.id).all
	
	
%><br/>
<center>
<h3>AOC-LIFE : Mobile</h3>
</center>
<hr/>
<% for i in ambulances %>
<%=link_to i.name, "show?id=#{i.id}",:class=>'btn btn-success col-12',:style=>''%><br/><br/>
<% end %>