	<ul class="metismenu mm-show" id="menu" >
		<li>
			<a href="../EMS/index">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title t " t="dashboard">Dashboard</div>
			</a>
		</li>
	<ul>